In [1]:
### 데이터 처리를 위한 라이브러리 불러들이기
import pandas as pd

### 시리즈(Series) 구조 생성하기

In [2]:
data = ["강아지","고양이","호랑이","사자","원숭이"]
idx_val = ["0", "1", "2", "3", "4"]

### 시리즈 구조 생성 :
# - index 속성값에 따라 행인덱스 값을 정의하고,
# - 각 인덱스 값에 해당하는 data값을 매핑해서 열단위 데이터를 생성함
# - 메모리가 만들어지고 주소를 반환함
pd.Series(data, index=idx_val)

0    강아지
1    고양이
2    호랑이
3     사자
4    원숭이
dtype: object

In [3]:
data = ["강아지","고양이","호랑이","사자","원숭이"]
idx_val = [0, 1, 2, 3, 4]

### 시리즈 구조 생성 :
# - index 속성값에 따라 행인덱스 값을 정의하고,
# - 각 인덱스 값에 해당하는 data값을 매핑해서 열단위 데이터를 생성함
# - 메모리가 만들어지고 주소를 반환함
pd.Series(data, index=idx_val)

0    강아지
1    고양이
2    호랑이
3     사자
4    원숭이
dtype: object

In [4]:
data = ["강아지","고양이","호랑이","사자","원숭이"]
idx_val = ["a", "b", "c", "d", "e"]

### 시리즈 구조 생성 :
# - index 속성값에 따라 행인덱스 값을 정의하고,
# - 각 인덱스 값에 해당하는 data값을 매핑해서 열단위 데이터를 생성함
# - 메모리가 만들어지고 주소를 반환함
pd.Series(data, index=idx_val)

a    강아지
b    고양이
c    호랑이
d     사자
e    원숭이
dtype: object

In [6]:
data = ["강아지","고양이","호랑이","사자","원숭이"]
#idx_val = ["a", "b", "c", "d", "e"]

### 시리즈 구조 생성 :
# - index 속성값에 따라 행인덱스 값을 정의하고,
# - 각 인덱스 값에 해당하는 data값을 매핑해서 열단위 데이터를 생성함
# - 메모리가 만들어지고 주소를 반환함
# pd.Series(data, index=idx_val)
pd.Series(data)

0    강아지
1    고양이
2    호랑이
3     사자
4    원숭이
dtype: object

### 딕셔너리 데이터를 -> 시리즈 데이터로 변환하기

In [7]:
dict_data = {"a":1, "b":2, "c":3}
dict_data

{'a': 1, 'b': 2, 'c': 3}

In [8]:
pd.Series(dict_data)

a    1
b    2
c    3
dtype: int64

### 리스트 데이터를 -> 시리즈 데이터로 변환하기

In [9]:
list_data = ["강아지", "고양이", "호랑이"]
list_data

['강아지', '고양이', '호랑이']

In [10]:
pd.Series(list_data)

0    강아지
1    고양이
2    호랑이
dtype: object

### 튜플 데이터를 -> 시리즈 데이터로 변환하기

In [12]:
tuple_data = ("강아지", "고양이", "호랑이")
tuple_data

('강아지', '고양이', '호랑이')

In [13]:
pd.Series(tuple_data)

0    강아지
1    고양이
2    호랑이
dtype: object

In [14]:
pd.Series(tuple_data, index=[10,20,30])

10    강아지
20    고양이
30    호랑이
dtype: object

### 데이터프레임 생성하기

##### 딕셔너리 데이터를 이용해서 -> 데이터프레임 생성하기

In [15]:
dict_data = {"동물" : ["강아지","고양이","호랑이"], "나이" : [6,2,5]}
dict_data

{'동물': ['강아지', '고양이', '호랑이'], '나이': [6, 2, 5]}

In [16]:
pd.DataFrame(dict_data)

    동물  나이
0  강아지   6
1  고양이   2
2  호랑이   5

##### 리스트 데이터를 이용해서 -> 데이터프레임 생성하기

In [20]:
### 2차원 리스트로 만들어야 합니다. (3행 2열 데이터)
list_data = [["강아지", 7],["고양이", 2],["호랑이", 5]]
list_data

# 데이터프레임 생성
pd.DataFrame(list_data, columns=["동물이름","나이"])

  동물이름  나이
0  강아지   7
1  고양이   2
2  호랑이   5

##### 깨끗한 데이터 프레임을 생성해서 -> 행 데이터 추가하기

In [25]:
df = pd.DataFrame()
df


df["동물이름"] = ["강아지", "고양이", "호랑이"]
df["나이"] = [2,45,6]
df["리스트"] = [list_data, ["1","2","3"],list_data]
df

  동물이름  나이                             리스트
0  강아지   2  [[강아지, 7], [고양이, 2], [호랑이, 5]]
1  고양이  45                       [1, 2, 3]
2  호랑이   6  [[강아지, 7], [고양이, 2], [호랑이, 5]]

In [29]:
df = pd.DataFrame()
df["동물"] = [["강아지", "고양이"]]

dict_data = {"동물" : ["강아지", "고양이", "호랑이"], "나이" : [1,5,6]}
df["dict"] = [dict_data]

df["tuple"] = [("홍길동", "김유신", "이순신")]
df

           동물                                            dict            tuple
0  [강아지, 고양이]  {'동물': ['강아지', '고양이', '호랑이'], '나이': [1, 5, 6]}  (홍길동, 김유신, 이순신)

In [ ]:
"""
df 데이터프레임 내에
 - 각 컬럼에 들어있는 데이터 중에 딕셔너리 타입의 데이터에 대해서는 
 - key와 value의 값을 각각 추출하여 아래와 같이 출력하기
 - 예시 : "강아지의 나이는 1살입니다."
          "고양이의 나이는 5살입니다."
          "호랑이의 나이는 6살입니다."
"""

In [31]:
### 컬럼명만 추출하는 명령어
# -  columns : ["동물", "dict", "tuple"] 모든 컬렁명을 리스트로 반환함
df.columns

Index(['동물', 'dict', 'tuple'], dtype='object')

In [71]:
for i in range(0,len(df["dict"][0]["동물"]),1) :
    print(f'{df[df.columns[1]][0]["동물"][i]}의 나이는 {df[df.columns[1]][0]["나이"][i]}살입니다.')

강아지의 나이는 1살입니다.
고양이의 나이는 5살입니다.
호랑이의 나이는 6살입니다.

In [73]:
df.columns[1][0], df.columns[1][1],df.columns[1][2],df.columns[1][3]

('d', 'i', 'c', 't')