In [ ]:
"""

<튜플(tuple)>
 - 리스트(list)와 동일한 메모리 구조를 가지고 있음
 - 따라서, 리스트 사용법과 동일하게 사용가능(인덱스 번호를 가지고 있음)
 - 리스트와의 차이점
   -> 소괄호() 기호를 사용함
   -> 수정을 할 수 없음 (수정을 하기 위해서는 삭제 후 다시 생성해야 함)
 - 튜플은 주로 정의해서 사용하기 보다는
   -> 임의 처리 결과를 받아서 사용하는 경우가 많음
   -> 예를 들어 zip() 함수의 결과 : [(값1, 값2), (값3, 값4)...]
   ->          여러 변수의 값 출력 결과 : a, b -> (a값, b값)

"""

In [1]:
a = 10
b = 20
c = 30


a, b, c

(10, 20, 30)

In [2]:
### d변수의 타입 : 튜플 타입
d = a, b, c
d

(10, 20, 30)

In [3]:
### 리스트와 동일하게 인덱스 번호로 접근가능
for idx in range(0, len(d), 1):
    print(d[idx])

10
20
30

In [4]:
### 리스트와 동일하게 튜플 자체값을 사용할 수 있음
for v in d :
    print(v)

10
20
30

In [6]:
### 튜플은 값의 수정이 불가능 합니다.
d[1] = 30

TypeError: 'tuple' object does not support item assignment

In [7]:
a = [10,20,30]
b = ["홍", "김", "이"]
c = ["서울", "대전", "부산"]

list(zip (a, b, c))

[(10, '홍', '서울'), (20, '김', '대전'), (30, '이', '부산')]

In [8]:
### 튜플 생성하는 방법
# - 깨끗한 튜플 생성 : 사실상 의미 없음
# - 값이 최초에 있는 상태로 생성되어야 쓰임이 있음
t = ()
t

()

In [12]:
# 값 1개만 존재하는 튜플의 형태
# - 리스트 타입
list_one = [1]
# - 정수 타입
tuple_one = (1)
# - 튜플 타입 : 한개의 값을 가지는 튜플 타입 생성은 끝에 콤마를 넣어야합니다
tuple_one2 = (1, )

In [13]:
list_one

[1]

In [14]:
tuple_one

1

In [15]:
tuple_one2

(1,)