In [3]:
### list_1은 [1,2,3]의 메모리 주소를 대입해서 받아서 가지고 있음

list_1 = [1,2,3]
### list_2은 [1,2,3]의 메모리 주소를 대입해서 받아서 가지고 있음

list_2 = [4,5,6]

### list_temp는 [list_1의 주소, list_2의 주소]의 메모리 주소를 대입 받아서 가지고 있음
# - 이미 생성된 리스트 변수를 새로운 리스트에 담는 경우
#   --> 이미 생성된 리스트 변수의 메모리 주소값을 담아 놓고 있게되며,
#   --> 각 리스트 변수의 메모리 주소에 접근해서 사용하게 됨
list_temp = [list_1, list_2]

list_1[1] = 7

list_temp

[[1, 7, 3], [4, 5, 6]]

### 딕셔너리(dict)

In [ ]:
'''
<딕셔너리(dict)>
 - 여러개의 값을 가지고 다닐 수 있는 타입 중의 하나
 - 1개의 데이터(값)는 key의 value라는 값을 쌍으로 가지고 있음
 - 1개의 데이터(값)에서 실제 값은 value에 저장되며,
   -> value에 저장되어 있는 실제 값을 추출하기 위해서는 key로 접근하여 추출합니다.
 - 딕셔너리(dict)를 표현하는 기호는 중괄호({})를 사용함
 - 리스트는 인덱스 번호를 이용하여 값에 접근하고,
   딕셔너리는 key값을 이용해서 값(value)에 접근함
   따라서, 딕셔너리느 인덱스 번호에 의미를 두지 않음(순서 무관)
 - 딕셔너리에서 key값은 고유한 값만 사용해야함(중복 허용하지 않음


<딕셔너리가 사용하는 key와 value에 저장할 수 있는 타입>
 - key : 정수, 실수 , 문자열 (주로 정수 또는 문자열을 사용)
 - value : 모든 타입 사용가능(정수, 실수, 문자열, bool, 리스트, 딕셔너리, 튜플 등등.... )
'''

In [20]:
### 딕셔너리 생성하기

dict_1 = {"name":"홍길동", "age":"44","key":"value" }

dict_1

{'name': '홍길동', 'age': '44', 'key': 'value'}

In [21]:
### 값 추출하기 : 딕셔너리는 key로 접근해서 값을 추출합니다,
# - 딕셔너리에서 값을 추출하는 개념 : key를 줄테니, value를 달

dict_1["name"]

'홍길동'

In [22]:
### 값 수정하기 : 수정하고자 하는 key에 접근해서 값을 대입하면 됨
# - (중요) : 존재하지 않는 key를 이용해서 대입하게 되면 새로운 key:value가 생성됨

dict_1["name"] = "이순신"

### 기존에 key가 없으면 값(key:value)이 추가됨
# ***  key가 있으면 수정, 없으면 추가
dict_1["name2"] = "이순신2"
dict_1

{'name': '이순신', 'age': '44', 'key': 'value', 'name2': '이순신2'}

In [252]:
dict_2 = {1:"홍길동", 2:"이순신", 3:"김유신"}
dict_2[1]

'홍길동'

In [24]:
dict_3 = {0 : dict_1, 1 : dict_2}
dict_3

{0: {'name': '이순신', 'age': '44', 'key': 'value', 'name2': '이순신2'},
 1: {1: '홍길동', 2: '이순신', 3: '김유신'}}

In [26]:
dict_1["age"] = 100
dict_3

{0: {'name': '이순신', 'age': 100, 'key': 'value', 'name2': '이순신2'},
 1: {1: '홍길동', 2: '이순신', 3: '김유신'}}

In [249]:
### 일반적으로 사용되는 딕셔너리 형태 (1)
# - 행렬 데이터 생성시 도는 데이터 수집시 아래 형태로 제공을 많이 함

name_dict = {"name" : ["홍길동", "김유신", "이순신"]}
age_dict = {"age" : [40, 50, 60]}
area_dict = {"area" : ["서울", "부산", "대구"]}

list_dict = [name_dict, age_dict, area_dict]
list_dict

[{'name': ['홍길동', '김유신', '이순신']},
 {'age': [40, 50, 60]},
 {'area': ['서울', '부산', '대구']}]

In [28]:
### 일반적으로 사용되는 딕셔너리 형태 (2)
# - 행렬 데이터에서 조회 결과로 많이 출력함(Database에서 조회 결과는 아래와 같은 형태임)
row1_dict = {"name" : "홍길동", "age" : 40, "area" : "서울"}
row2_dict = {"name" : "김유신", "age" : 50, "area" : "부산"}
row3_dict = {"name" : "이순신", "age" : 60, "area" : "대구"}

rows_list = [row1_dict, row2_dict, row3_dict]
rows_list

[{'name': '홍길동', 'age': 40, 'area': '서울'},
 {'name': '김유신', 'age': 50, 'area': '부산'},
 {'name': '이순신', 'age': 60, 'area': '대구'}]

In [36]:
### 딕셔너리의 특정 key에 대한 value갑 조회하기
dict_1["name"], dict_1["age"], dict_1["key"]

('이순신', 100, 'value')

In [246]:
### 딕셔너리에 특정 key와 value값 추가하기
dict_1["tel"] = "010-1234-5555"

### tel key의 값 수정하기
dict_1["tel"] = "010-1234-6666"

### key가 있으면 수정, 없으면 추가
dict_1

{'name': '이순신',
 'age': 100,
 'key': 'value',
 'name2': '이순신2',
 'tel': '010-1234-6666'}

In [247]:
### 딕셔너리 내에 특정 key 삭제하기 : key로 접근
del dict_1["tel"]
dict_1

{'name': '이순신', 'age': 100, 'key': 'value', 'name2': '이순신2'}

In [39]:
try :
    del dict_1["tel"]
except :
    print("해당key가 없습니다.")
    
dict_1

해당key가 없습니다.

{'name': '이순신', 'age': 100, 'key': 'value', 'name2': '이순신2'}

In [50]:
### key값들만 추출하기 : keys() 함수 사용
# - 반환결과는 list 타입 입니다.
# - 반복(for)문의 반복 패턴에 사용해서, 딕셔너리 내에 data를 추출할 수 있음
dict_1.keys() ,type(dict_1.keys())

(dict_keys(['name', 'age', 'key', 'name2']), dict_keys)

In [52]:
### value값들만 추출하기 : value()함수 사용
# - 반환결과는 리스트(list) 타입
# - values()만 단독으로 사용하는 경우는 거의 없음
dict_1.values()

dict_values(['이순신', 100, 'value', '이순신2'])

In [54]:
### key만 알고 있으면 , value값 추출이 가능합니다.
# - for문을 이용해서, dict_1의 key와 value의 값을 쌍으로 각각 출력해 주세요.
dict_1

for i in dict_1.keys() :
    print(i,dict_1[i])
# - dict_1.keys는 dict_1안에 있는 key의 리스트를 불러옴
#   따라서 dict_1.keys안에 있는 key리스트 name을 i에 넣으면 
#   name이 나오고 dict_1[name]의 값이 나옴

name 이순신
age 100
key value
name2 이순신2

In [59]:
dict_1.keys(), dict_1.values()

# keys() : ['name', 'age', 'key', 'name2']
# values() : ['이순신', 100, 'value', '이순신2']

list(zip(dict_1.keys(), dict_1.values()))

for k, v in zip(dict_1.keys(), dict_1.values()):
    print(k, v)

name 이순신
age 100
key value
name2 이순신2

In [230]:
### key와 value의 쌍으로 묶은 값을 리스트로 추출해 주는 함수 : itmes()
for k, v in dict_1.items() :
    print(k, v)

name 이순신
age 100
key value
name2 이순신2

In [62]:
### 깨끗한 딕셔너리 생성하기

dict_2 = {}
dict_2

{}

In [64]:
### key와 value 추가하기
dict_2["name"] = "홍길동"
dict_2

{'name': '홍길동'}

In [105]:
### dict_3 깨끗한 딕셔너리 변수 생성하기
# - 아래와 같이 딕셔너리 데이터 추가해주세요
# - {1:"홍길동1", 2 :"홍길동2", .... , 100:"홍길동100"}

dict_3 = {}

for i in range(1,101,1) :
    dict_3[i] = f'홍길동{i}'
    
print(dict_3)

{1: '홍길동1', 2: '홍길동2', 3: '홍길동3', 4: '홍길동4', 5: '홍길동5', 6: '홍길동6', 7: '홍길동7', 8: '홍길동8', 9: '홍길동9', 10: '홍길동10', 11: '홍길동11', 12: '홍길동12', 13: '홍길동13', 14: '홍길동14', 15: '홍길동15', 16: '홍길동16', 17: '홍길동17', 18: '홍길동18', 19: '홍길동19', 20: '홍길동20', 21: '홍길동21', 22: '홍길동22', 23: '홍길동23', 24: '홍길동24', 25: '홍길동25', 26: '홍길동26', 27: '홍길동27', 28: '홍길동28', 29: '홍길동29', 30: '홍길동30', 31: '홍길동31', 32: '홍길동32', 33: '홍길동33', 34: '홍길동34', 35: '홍길동35', 36: '홍길동36', 37: '홍길동37', 38: '홍길동38', 39: '홍길동39', 40: '홍길동40', 41: '홍길동41', 42: '홍길동42', 43: '홍길동43', 44: '홍길동44', 45: '홍길동45', 46: '홍길동46', 47: '홍길동47', 48: '홍길동48', 49: '홍길동49', 50: '홍길동50', 51: '홍길동51', 52: '홍길동52', 53: '홍길동53', 54: '홍길동54', 55: '홍길동55', 56: '홍길동56', 57: '홍길동57', 58: '홍길동58', 59: '홍길동59', 60: '홍길동60', 61: '홍길동61', 62: '홍길동62', 63: '홍길동63', 64: '홍길동64', 65: '홍길동65', 66: '홍길동66', 67: '홍길동67', 68: '홍길동68', 69: '홍길동69', 70: '홍길동70', 71: '홍길동71', 72: '홍길동72', 73: '홍길동73', 74: '홍길동74', 75: '홍길동75', 76: '홍길동76', 77: '홍길동77', 78: '홍길동78', 79: '홍길동79', 80: '홍길동80', 81: '홍길동81', 82: '홍길동82', 83: '홍길동83', 84: '홍길동84', 85: '홍길동85', 86: '홍길동86', 87: '홍길동87', 88: '홍길동88', 89: '홍길동89', 90: '홍길동90', 91: '홍길동91', 92: '홍길동92', 93: '홍길동93', 94: '홍길동94', 95: '홍길동95', 96: '홍길동96', 97: '홍길동97', 98: '홍길동98', 99: '홍길동99', 100: '홍길동100'}

In [90]:
### 값 추출하는 함수 사용 : get()
print(dict_1)

print(dict_1["name"])
print(dict_1.get("name"))
dict_1.get("name3")

### get(실제 key값, key가 없을 때 사용할 값)
# 딕셔너리에서 key를 이용해서 값 추출할 때 주로 get()함수 사용
dict_1.get("name3", "해당 key가 없음")

{'name': '이순신', 'age': 100, 'key': 'value', 'name2': '이순신2'}
이순신
이순신
None

In [232]:
### 깨끗한 딕셔너리 변수 dict_2 생성
# key값 : name1~name100
# value값 : 홍길동1~홍길동100

dict2 = {}

for i in range(1, 101, 1) :
    dict2[f"name{i}"] = f"홍길동{i}"
print(dict2)

{'name1': '홍길동1', 'name2': '홍길동2', 'name3': '홍길동3', 'name4': '홍길동4', 'name5': '홍길동5', 'name6': '홍길동6', 'name7': '홍길동7', 'name8': '홍길동8', 'name9': '홍길동9', 'name10': '홍길동10', 'name11': '홍길동11', 'name12': '홍길동12', 'name13': '홍길동13', 'name14': '홍길동14', 'name15': '홍길동15', 'name16': '홍길동16', 'name17': '홍길동17', 'name18': '홍길동18', 'name19': '홍길동19', 'name20': '홍길동20', 'name21': '홍길동21', 'name22': '홍길동22', 'name23': '홍길동23', 'name24': '홍길동24', 'name25': '홍길동25', 'name26': '홍길동26', 'name27': '홍길동27', 'name28': '홍길동28', 'name29': '홍길동29', 'name30': '홍길동30', 'name31': '홍길동31', 'name32': '홍길동32', 'name33': '홍길동33', 'name34': '홍길동34', 'name35': '홍길동35', 'name36': '홍길동36', 'name37': '홍길동37', 'name38': '홍길동38', 'name39': '홍길동39', 'name40': '홍길동40', 'name41': '홍길동41', 'name42': '홍길동42', 'name43': '홍길동43', 'name44': '홍길동44', 'name45': '홍길동45', 'name46': '홍길동46', 'name47': '홍길동47', 'name48': '홍길동48', 'name49': '홍길동49', 'name50': '홍길동50', 'name51': '홍길동51', 'name52': '홍길동52', 'name53': '홍길동53', 'name54': '홍길동54', 'name55': '홍길동55', 'name56': '홍길동56', 'name57': '홍길동57', 'name58': '홍길동58', 'name59': '홍길동59', 'name60': '홍길동60', 'name61': '홍길동61', 'name62': '홍길동62', 'name63': '홍길동63', 'name64': '홍길동64', 'name65': '홍길동65', 'name66': '홍길동66', 'name67': '홍길동67', 'name68': '홍길동68', 'name69': '홍길동69', 'name70': '홍길동70', 'name71': '홍길동71', 'name72': '홍길동72', 'name73': '홍길동73', 'name74': '홍길동74', 'name75': '홍길동75', 'name76': '홍길동76', 'name77': '홍길동77', 'name78': '홍길동78', 'name79': '홍길동79', 'name80': '홍길동80', 'name81': '홍길동81', 'name82': '홍길동82', 'name83': '홍길동83', 'name84': '홍길동84', 'name85': '홍길동85', 'name86': '홍길동86', 'name87': '홍길동87', 'name88': '홍길동88', 'name89': '홍길동89', 'name90': '홍길동90', 'name91': '홍길동91', 'name92': '홍길동92', 'name93': '홍길동93', 'name94': '홍길동94', 'name95': '홍길동95', 'name96': '홍길동96', 'name97': '홍길동97', 'name98': '홍길동98', 'name99': '홍길동99', 'name100': '홍길동100'}

In [ ]:
"""
dict2 딕셔너리 데이터를 이용해서
 - list1 및 list2 리스트 변수 생성
 - dict2의 key값 뒤에 숫자가 짝수이면 list1에 value값 추가
 - dict2의 key값 뒤의 숫자가 홀수이면 list2에 value값 추가
 - 딕셔너리 변수 dict3 생성해서 아래와 같이 저장 
   --> key값 : 짝수, 홀수
   --> value값 : list1, list2
"""

In [234]:
### list1 및 list2 리스트변수 생성
list1 = []
list2 = []

### dict2 내에 key 값 뒤에 숫자가 짝수인지 홀수인지 체크

for k, v in dict2.items():
    # 짝수라면..
    if int(k[4:]) % 2 == 0 : 
        list1.append(v)
    # 홀수라면..
    else :
        list2.append(v)
### dict3 딕셔너리 변수에 넣기
dict3 = {"짝수" : list1, "홀수" : list2}
print(dict3)

{'짝수': ['홍길동2', '홍길동4', '홍길동6', '홍길동8', '홍길동10', '홍길동12', '홍길동14', '홍길동16', '홍길동18', '홍길동20', '홍길동22', '홍길동24', '홍길동26', '홍길동28', '홍길동30', '홍길동32', '홍길동34', '홍길동36', '홍길동38', '홍길동40', '홍길동42', '홍길동44', '홍길동46', '홍길동48', '홍길동50', '홍길동52', '홍길동54', '홍길동56', '홍길동58', '홍길동60', '홍길동62', '홍길동64', '홍길동66', '홍길동68', '홍길동70', '홍길동72', '홍길동74', '홍길동76', '홍길동78', '홍길동80', '홍길동82', '홍길동84', '홍길동86', '홍길동88', '홍길동90', '홍길동92', '홍길동94', '홍길동96', '홍길동98', '홍길동100'], '홀수': ['홍길동1', '홍길동3', '홍길동5', '홍길동7', '홍길동9', '홍길동11', '홍길동13', '홍길동15', '홍길동17', '홍길동19', '홍길동21', '홍길동23', '홍길동25', '홍길동27', '홍길동29', '홍길동31', '홍길동33', '홍길동35', '홍길동37', '홍길동39', '홍길동41', '홍길동43', '홍길동45', '홍길동47', '홍길동49', '홍길동51', '홍길동53', '홍길동55', '홍길동57', '홍길동59', '홍길동61', '홍길동63', '홍길동65', '홍길동67', '홍길동69', '홍길동71', '홍길동73', '홍길동75', '홍길동77', '홍길동79', '홍길동81', '홍길동83', '홍길동85', '홍길동87', '홍길동89', '홍길동91', '홍길동93', '홍길동95', '홍길동97', '홍길동99']}

In [235]:
### dict3에 각 value값을 모두 각각 출력해 주세요.
# 출력예시
# 홍길동2
#  ...
# 홍길동100
# 홍길동1
#  ...
# 홍길동99

for list_v in dict3.values() :
    for v in list_v :
        print(v)

홍길동2
홍길동4
홍길동6
홍길동8
홍길동10
홍길동12
홍길동14
홍길동16
홍길동18
홍길동20
홍길동22
홍길동24
홍길동26
홍길동28
홍길동30
홍길동32
홍길동34
홍길동36
홍길동38
홍길동40
홍길동42
홍길동44
홍길동46
홍길동48
홍길동50
홍길동52
홍길동54
홍길동56
홍길동58
홍길동60
홍길동62
홍길동64
홍길동66
홍길동68
홍길동70
홍길동72
홍길동74
홍길동76
홍길동78
홍길동80
홍길동82
홍길동84
홍길동86
홍길동88
홍길동90
홍길동92
홍길동94
홍길동96
홍길동98
홍길동100
홍길동1
홍길동3
홍길동5
홍길동7
홍길동9
홍길동11
홍길동13
홍길동15
홍길동17
홍길동19
홍길동21
홍길동23
홍길동25
홍길동27
홍길동29
홍길동31
홍길동33
홍길동35
홍길동37
홍길동39
홍길동41
홍길동43
홍길동45
홍길동47
홍길동49
홍길동51
홍길동53
홍길동55
홍길동57
홍길동59
홍길동61
홍길동63
홍길동65
홍길동67
홍길동69
홍길동71
홍길동73
홍길동75
홍길동77
홍길동79
홍길동81
홍길동83
홍길동85
홍길동87
홍길동89
홍길동91
홍길동93
홍길동95
홍길동97
홍길동99

In [236]:
### dict3 데이터 이용
# - dict3의 key값 중 짝수인 value값을 이용해서 
# - value값에서 이름의 뒤 숫자값이 4의 배수이면 : 홍길동으로 수정하기
# - 출력예시
# (기존 원본) { "짝수" : ["홍길동2", "홍길동4", ...], "홀수" : ["홍길동1","홍길동3",...]}
# (수정 후 출력) { "짝수" : ["홍길동2", "홍길동", ...], "홀수" : ["홍길동1","홍길동3",...]}


# 처음 한거
# for i in range(0,len(dict3["짝수"]),1) :
#     a = dict3["짝수"][i]
#     if int(a[3:]) % 4 == 0 :
#         dict3["짝수"][i] = "홍길동"

# print(dict3)
    

# 선생님 예시

for idx in range(0,len(dict3["짝수"]),1):
    if int(dict3["짝수"][idx][3:]) % 4 == 0 :
        dict3["짝수"][idx] = "홍길동"

{'짝수': ['홍길동2', '홍길동', '홍길동6', '홍길동', '홍길동10', '홍길동', '홍길동14', '홍길동', '홍길동18', '홍길동', '홍길동22', '홍길동', '홍길동26', '홍길동', '홍길동30', '홍길동', '홍길동34', '홍길동', '홍길동38', '홍길동', '홍길동42', '홍길동', '홍길동46', '홍길동', '홍길동50', '홍길동', '홍길동54', '홍길동', '홍길동58', '홍길동', '홍길동62', '홍길동', '홍길동66', '홍길동', '홍길동70', '홍길동', '홍길동74', '홍길동', '홍길동78', '홍길동', '홍길동82', '홍길동', '홍길동86', '홍길동', '홍길동90', '홍길동', '홍길동94', '홍길동', '홍길동98', '홍길동'], '홀수': ['홍길동1', '홍길동3', '홍길동5', '홍길동7', '홍길동9', '홍길동11', '홍길동13', '홍길동15', '홍길동17', '홍길동19', '홍길동21', '홍길동23', '홍길동25', '홍길동27', '홍길동29', '홍길동31', '홍길동33', '홍길동35', '홍길동37', '홍길동39', '홍길동41', '홍길동43', '홍길동45', '홍길동47', '홍길동49', '홍길동51', '홍길동53', '홍길동55', '홍길동57', '홍길동59', '홍길동61', '홍길동63', '홍길동65', '홍길동67', '홍길동69', '홍길동71', '홍길동73', '홍길동75', '홍길동77', '홍길동79', '홍길동81', '홍길동83', '홍길동85', '홍길동87', '홍길동89', '홍길동91', '홍길동93', '홍길동95', '홍길동97', '홍길동99']}

In [237]:
print(dict3["짝수"])

['홍길동2', '홍길동', '홍길동6', '홍길동', '홍길동10', '홍길동', '홍길동14', '홍길동', '홍길동18', '홍길동', '홍길동22', '홍길동', '홍길동26', '홍길동', '홍길동30', '홍길동', '홍길동34', '홍길동', '홍길동38', '홍길동', '홍길동42', '홍길동', '홍길동46', '홍길동', '홍길동50', '홍길동', '홍길동54', '홍길동', '홍길동58', '홍길동', '홍길동62', '홍길동', '홍길동66', '홍길동', '홍길동70', '홍길동', '홍길동74', '홍길동', '홍길동78', '홍길동', '홍길동82', '홍길동', '홍길동86', '홍길동', '홍길동90', '홍길동', '홍길동94', '홍길동', '홍길동98', '홍길동']

In [240]:
### 임의 딕셔너리 생성
temp = {"짝수" : ["홍2","김4","이6"],
        "홀수" : ["홍1", "김3", "이5"]}
temp

{'짝수': ['홍2', '김4', '이6'], '홀수': ['홍1', '김3', '이5']}

In [245]:
### 여러개의 값을 가지고 다니는 타입의 데이터를 복제하여 사용할 경우...
# - copy() 명령을 사용해야 합니다.

# - temp의 주소값이 temp2에 저장되어 temp2와 temp는 같은 메모리 주소를 가집니다.
#   즉, 어느 한쪽서에 데이터를 변경하면 변경된 내용이 함께 사용됩니다.
temp2 = temp
temp2["정수"] = [1, 2, 3]
temp2
temp

### copy() : 복제 기능(새로운 메모리 공간을 만들어서 새로운 주소를 넘겨)
temp3 = temp.copy()
temp3["실수"] = [1.1,2.2,3.3]
temp3, temp

({'짝수': ['홍2', '김4', '이6'],
  '홀수': ['홍1', '김3', '이5'],
  '정수': [1, 2, 3],
  '실수': [1.1, 2.2, 3.3]},
 {'짝수': ['홍2', '김4', '이6'], '홀수': ['홍1', '김3', '이5'], '정수': [1, 2, 3]})

In [243]:
temp

{'짝수': ['홍2', '김4', '이6'], '홀수': ['홍1', '김3', '이5'], '정수': [1, 2, 3]}

In [ ]:
'''
<회원관리 프로그램>
 - 사용할 기능 : 신규 추가, 수정, 삭제, 검색(이름으로), 검색(전체목록), 종료
 - 사용할 데이터 형태 예시 : [{"name" : "홍길동", "age" : "55", "area" : "서울"}
                              {"name" : "이순신", "age" : "55", "area" : "서울"}
                              {"name" : "김유신", "age" : "55", "area" : "서울"}]
                            
 - 최초 메세지 값
   아래 번호 중에 하나를 선택해 주세요(번호로 이력하여 주세요):
       1. 리스트에 신규값 추가하기
       2. 수정하기
       3. 삭제하기
       4. 검색(이름으로 조회)
       5. 검색(전체 목록 조회)
       6. 종료

 - 새로운 주피터 파일 만들어서, 파일명은 "0조_개인이름.ipynb" 로 구글드라이브에 제출
   (제출위치 : 구글드라이브 > day05_기본문법(딕셔너리) > 회원관리_프로그램(개별제출))
   
 - 조건, 
   * 이름은 중복을 허용하지 않습니다.
   * 무한 반복 하면서 계속 수행
   * 다양한 예외를 고민하셔서 발생할 수 있는 처리 조치

'''