In [ ]:
"""
<데이터 수집 이후 통합시 확인이 필요한 사항>
 1. 파일 이름의 규칙 확인
 2. 파일 내용에서 필요한 컬럼들 확인
 3. 데이터 발생 시점의 시간(년월일시분초) 확인 가능 여부
 4. 현황 분석이 가능한 소주제 두출
"""

### 통합을 위한 샘플링 하기

In [ ]:
""" 
<샘플링>
 - 여러 파일 중 1개의 파일을 이용해서
 - 위 <데이터 수집 이후 통합시 확인이 필요한 사항>에 대한 처리를 수행
    --> 사전에 통합을 위한 절차 만들기
 - 샘플링 이후 > 전체 파일 통합 절차를 거침
"""

In [158]:
### 샘플링 파일명 : 2010년 1월 데이터 사용
# - 1. 파일 읽어들이기
# - 2. 데이터프레임 변수명 : kto_201001

import pandas as pd

file_path = "./files2/kto_201001.xlsx"
kto_201001 = pd.read_excel(file_path, header=1, usecols="A:G", skipfooter=4)
kto_201001

         국적      관광     상용   공용  유학/연수     기타       계
0      아시아주  329131  18238  421   4339  80916  433045
1        일본  202825   1750   89    549   3971  209184
2        대만   35788     41   17     37    516   36399
3        홍콩   13874     55    0     21    595   14545
4       마카오     554      0    0      0      0     554
..      ...     ...    ...  ...    ...    ...     ...
62  아프리카 기타     349    594   25     86    296    1350
63     기타대륙      10      3    0      0      0      13
64     국적미상      10      3    0      0      0      13
65     교포소계       0      0    0      0  22537   22537
66       교포       0      0    0      0  22537   22537

[67 rows x 7 columns]

In [9]:
### 데이터 정보 확인하기
kto_201001.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

In [10]:
### 기초 통계 확인하기
kto_201001.describe()

,관광,상용,공용,유학/연수,기타,계
count,67.000000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,11964.716418,683.462687,81.731343,152.776119,4115.910448,16998.597015
std,47055.349998,2639.234303,370.034666,622.299519,11560.294887,59189.624627
min,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000
25%,254.000000,23.500000,0.000000,6.000000,161.500000,605.000000
50%,554.000000,47.000000,2.000000,17.000000,449.000000,1350.000000
75%,3638.000000,301.000000,14.000000,54.500000,1608.000000,7582.000000
max,329131.000000,18238.000000,2159.000000,4339.000000,80916.000000,433045.000000

In [24]:
### 관광, 상용, 공용, 유학/연수 컬럼의 데이터중에
# - 0이 있는 경우 조회하기
# - 모든 컬럼 조회

zero_re1 = kto_201001["관광"] == 0

zero_re2 = kto_201001["상용"] == 0
zero_re3 = kto_201001["공용"] == 0
zero_re4 = kto_201001["유학/연수"] == 0

zero_result = zero_re1 | zero_re2 | zero_re3 | zero_re4 
temp = kto_201001[zero_result]
print(len(temp))
temp

26

          국적     관광   상용  공용  유학/연수     기타      계
3         홍콩  13874   55   0     21    595  14545
4        마카오    554    0   0      0      0    554
6      말레이시아   3292   61   0     49   1157   4559
16      캄보디아    102   22   0     25    131    280
19        이란     69  309   0      3    217    598
20      이스라엘    792   11   0      0     53    856
24       GCC    223  134   0     18     55    430
38       스위스    512   30   0      7     77    626
40       덴마크    378   28   0      5     94    505
41      노르웨이    517  274   0      6    149    946
45       그리스    345   47   0      0    213    605
46      포르투갈    256    9   0      1     44    310
47       핀란드    376   16   0     12    131    535
48      아일랜드    311   16   0      1    198    526
49     우크라이나    386   29   0      6   1515   1936
51     크로아티아    166   20   0      1    298    485
52      루마니아    142   12   0      9    370    533
53      불가리아    103    0   0      9    414    526
54       폴란드    378   29   0     10    431    848
55     구주 기타   1219   37   0     49    410   1715
59    대양주 기타    730    0   4      4    168    906
61  남아프리카공화국    214   27   0      2    545    788
63      기타대륙     10    3   0      0      0     13
64      국적미상     10    3   0      0      0     13
65      교포소계      0    0   0      0  22537  22537
66        교포      0    0   0      0  22537  22537

### 데이터 발생 시점 컬럼 추가하기 : 기준년월

In [27]:
### 기준 년월 컬럼 추가하기

kto_201001["기준년월"] = "2010-01"
kto_201001

         국적      관광     상용   공용  유학/연수     기타       계     기준년월
0      아시아주  329131  18238  421   4339  80916  433045  2010-01
1        일본  202825   1750   89    549   3971  209184  2010-01
2        대만   35788     41   17     37    516   36399  2010-01
3        홍콩   13874     55    0     21    595   14545  2010-01
4       마카오     554      0    0      0      0     554  2010-01
..      ...     ...    ...  ...    ...    ...     ...      ...
62  아프리카 기타     349    594   25     86    296    1350  2010-01
63     기타대륙      10      3    0      0      0      13  2010-01
64     국적미상      10      3    0      0      0      13  2010-01
65     교포소계       0      0    0      0  22537   22537  2010-01
66       교포       0      0    0      0  22537   22537  2010-01

[67 rows x 8 columns]

### 국적 데이터 처리하기(대륙이름이 포함되어 있음)

In [31]:
### 국적 데이터의 고유한 값들만 추출하기
# - 고유한값 추출 함수(시리즈 클래스에서 제공하는 함수) : unique()
print(len(kto_201001["국적"].unique()))
kto_201001["국적"].unique()


### 대륙 이름 : '아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계'
### 실제 이름 : '아시아', '아메리카', '유럽', '오세아니아', '아프리카', '기타대륙', '교포'

67

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [68]:
### 국적 컬럼에서 대륙 데이터 제거하기
# 제거할 대륙 이름 : '아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계'

chk_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']

# 필터링
chk = kto_201001["국적"].isin(chk_list)

# 대륙이 포함된 데이터 전체 조회
kto_201001[chk == True]

# 대륙이 포함되지 않은 데이터 전체 조회
kto_201001_country = kto_201001[chk == False]

# 현재까지 최종 처리된 데이터프레임
kto_201001_country


# 최종 처리 결과에서 고유한 국적 값만 추출해 보기 : 대륙이름 없는지 검증
kto_201001_country["국적"].unique()

array(['일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아', '싱가포르',
       '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골', '중국',
       '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미국',
       '캐나다', '멕시코', '브라질', '미주 기타', '영국', '독일', '프랑스', '네덜란드', '스웨덴',
       '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인', '그리스', '포르투갈',
       '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아', '불가리아', '폴란드',
       '구주 기타', '오스트레일리아', '뉴질랜드', '대양주 기타', '남아프리카공화국', '아프리카 기타',
       '국적미상', '교포'], dtype=object)

In [69]:
# 현재까지 최종 처리된 데이터프레임
kto_201001_country

          국적      관광     상용    공용  유학/연수     기타       계     기준년월
1         일본  202825   1750    89    549   3971  209184  2010-01
2         대만   35788     41    17     37    516   36399  2010-01
3         홍콩   13874     55     0     21    595   14545  2010-01
4        마카오     554      0     0      0      0     554  2010-01
5         태국   13374     39    13     53   4335   17814  2010-01
6      말레이시아    3292     61     0     49   1157    4559  2010-01
7        필리핀    3984    219   104     87  16820   21214  2010-01
8      인도네시아    1840    327     3     65   2826    5061  2010-01
9       싱가포르    4201    120     3     27   1017    5368  2010-01
10       미얀마     630     18    54     10   3882    4594  2010-01
11       베트남    1384    284    21    150   2676    4515  2010-01
12        인도    1646   1387     7     68   2918    6026  2010-01
13      스리랑카      39     28     2     13    566     648  2010-01
14      파키스탄      70    200     1     41    402     714  2010-01
15     방글라데시      86     84     9     42    489     710  2010-01
16      캄보디아     102     22     0     25    131     280  2010-01
17        몽골    2333    234     6    197    554    3324  2010-01
18        중국   40425  11930    55   2751  36091   91252  2010-01
19        이란      69    309     0      3    217     598  2010-01
20      이스라엘     792     11     0      0     53     856  2010-01
21        터키     472     15     2     15    465     969  2010-01
22    우즈베키스탄     190    293    17     40    740    1280  2010-01
23     카자흐스탄     238     48     4     22    107     419  2010-01
24       GCC     223    134     0     18     55     430  2010-01
25    아시아 기타     700    629    14     56    333    1732  2010-01
27        미국   26943   1195  2145    135  12647   43065  2010-01
28       캐나다    4912     96     4     21   3743    8776  2010-01
29       멕시코     252     29     1      4     93     379  2010-01
30       브라질     459     46     1     11    248     765  2010-01
31     미주 기타     501     25     8     29    291     854  2010-01
33        영국    5746    383     4     20   1368    7521  2010-01
34        독일    5838    255    24     68   1458    7643  2010-01
35       프랑스    3019    343    44    115   1145    4666  2010-01
36      네덜란드    1205     47     1     20    449    1722  2010-01
37       스웨덴     579     63     5     17    185     849  2010-01
38       스위스     512     30     0      7     77     626  2010-01
39      이탈리아    1157     40    12     12    155    1376  2010-01
40       덴마크     378     28     0      5     94     505  2010-01
41      노르웨이     517    274     0      6    149     946  2010-01
42       벨기에     322     25     1      8    104     460  2010-01
43     오스트리아     440     13     2      9    141     605  2010-01
44       스페인     542     29    11      8    108     698  2010-01
45       그리스     345     47     0      0    213     605  2010-01
46      포르투갈     256      9     0      1     44     310  2010-01
47       핀란드     376     16     0     12    131     535  2010-01
48      아일랜드     311     16     0      1    198     526  2010-01
49     우크라이나     386     29     0      6   1515    1936  2010-01
50       러시아    4861    505    15     83   5409   10873  2010-01
51     크로아티아     166     20     0      1    298     485  2010-01
52      루마니아     142     12     0      9    370     533  2010-01
53      불가리아     103      0     0      9    414     526  2010-01
54       폴란드     378     29     0     10    431     848  2010-01
55     구주 기타    1219     37     0     49    410    1715  2010-01
57   오스트레일리아    6974    340     9     10   1098    8431  2010-01
58      뉴질랜드    1545     53     1      1    435    2035  2010-01
59    대양주 기타     730      0     4      4    168     906  2010-01
61  남아프리카공화국     214     27     0      2    545     788  2010-01
62   아프리카 기타     349    594    25     86    296    1350  2010-01
64      국적미상      10      3     0      0      0      13  2010-01
66        교포       0      0     0      0  22537   22537  2010-01

In [72]:
### "행 인덱스 값"을 순차적으로 재정의 하기
# - 데이터프레임 클래스에서 제공하는 reset_index() 함수 사용
# - drop=True 속성 : 기존 "행 인덱스값"은 컬럼으로 사용하지 않겠다는 의미
kto_201001_country_newindex = kto_201001_country.reset_index(drop=True)
kto_201001_country_newindex

          국적      관광     상용    공용  유학/연수     기타       계     기준년월
0         일본  202825   1750    89    549   3971  209184  2010-01
1         대만   35788     41    17     37    516   36399  2010-01
2         홍콩   13874     55     0     21    595   14545  2010-01
3        마카오     554      0     0      0      0     554  2010-01
4         태국   13374     39    13     53   4335   17814  2010-01
5      말레이시아    3292     61     0     49   1157    4559  2010-01
6        필리핀    3984    219   104     87  16820   21214  2010-01
7      인도네시아    1840    327     3     65   2826    5061  2010-01
8       싱가포르    4201    120     3     27   1017    5368  2010-01
9        미얀마     630     18    54     10   3882    4594  2010-01
10       베트남    1384    284    21    150   2676    4515  2010-01
11        인도    1646   1387     7     68   2918    6026  2010-01
12      스리랑카      39     28     2     13    566     648  2010-01
13      파키스탄      70    200     1     41    402     714  2010-01
14     방글라데시      86     84     9     42    489     710  2010-01
15      캄보디아     102     22     0     25    131     280  2010-01
16        몽골    2333    234     6    197    554    3324  2010-01
17        중국   40425  11930    55   2751  36091   91252  2010-01
18        이란      69    309     0      3    217     598  2010-01
19      이스라엘     792     11     0      0     53     856  2010-01
20        터키     472     15     2     15    465     969  2010-01
21    우즈베키스탄     190    293    17     40    740    1280  2010-01
22     카자흐스탄     238     48     4     22    107     419  2010-01
23       GCC     223    134     0     18     55     430  2010-01
24    아시아 기타     700    629    14     56    333    1732  2010-01
25        미국   26943   1195  2145    135  12647   43065  2010-01
26       캐나다    4912     96     4     21   3743    8776  2010-01
27       멕시코     252     29     1      4     93     379  2010-01
28       브라질     459     46     1     11    248     765  2010-01
29     미주 기타     501     25     8     29    291     854  2010-01
30        영국    5746    383     4     20   1368    7521  2010-01
31        독일    5838    255    24     68   1458    7643  2010-01
32       프랑스    3019    343    44    115   1145    4666  2010-01
33      네덜란드    1205     47     1     20    449    1722  2010-01
34       스웨덴     579     63     5     17    185     849  2010-01
35       스위스     512     30     0      7     77     626  2010-01
36      이탈리아    1157     40    12     12    155    1376  2010-01
37       덴마크     378     28     0      5     94     505  2010-01
38      노르웨이     517    274     0      6    149     946  2010-01
39       벨기에     322     25     1      8    104     460  2010-01
40     오스트리아     440     13     2      9    141     605  2010-01
41       스페인     542     29    11      8    108     698  2010-01
42       그리스     345     47     0      0    213     605  2010-01
43      포르투갈     256      9     0      1     44     310  2010-01
44       핀란드     376     16     0     12    131     535  2010-01
45      아일랜드     311     16     0      1    198     526  2010-01
46     우크라이나     386     29     0      6   1515    1936  2010-01
47       러시아    4861    505    15     83   5409   10873  2010-01
48     크로아티아     166     20     0      1    298     485  2010-01
49      루마니아     142     12     0      9    370     533  2010-01
50      불가리아     103      0     0      9    414     526  2010-01
51       폴란드     378     29     0     10    431     848  2010-01
52     구주 기타    1219     37     0     49    410    1715  2010-01
53   오스트레일리아    6974    340     9     10   1098    8431  2010-01
54      뉴질랜드    1545     53     1      1    435    2035  2010-01
55    대양주 기타     730      0     4      4    168     906  2010-01
56  남아프리카공화국     214     27     0      2    545     788  2010-01
57   아프리카 기타     349    594    25     86    296    1350  2010-01
58      국적미상      10      3     0      0      0      13  2010-01
59        교포       0      0     0      0  22537   22537  2010-01

### 대륙 컬럼 추가하기

In [77]:
### 리스트 + 리스트 = 1개 리스트로 합쳐짐
["아시아"]*2 + ["아메리카"]*3

['아시아', '아시아', '아메리카', '아메리카', '아메리카']

In [80]:
### 실제 이름 : '아시아', '아메리카', '유럽', '오세아니아', '아프리카', '기타대륙', '교포'
# - 아시아 : 25개
# - 아메리카 : 5개
# - 유럽 : 23개
# - 오세아니아 : 3개
# - 아프리카 : 2개
# - 기타대륙 : 1개
# - 교포 : 1개

# print(25+5+23+3+2+1+1, len(kto_201001_country_newindex))
# kto_201001_country_newindex

### 대륙 컬럼에 사용할 열 데이터를 리스트로 만들기
# 리스트 60개 데이터
contients = ["아시아"]*25 + ["아메리카"]*5 + ["유럽"]*23 + ["오세아니아"]*3 + ["아프리카"]*2 + ["기타대륙"]*1 + ["교포"]*1
# print(len(contients), contients)

### 대륙 컬럼 추가하기
kto_201001_country_newindex["대륙"] = contients
kto_201001_country_newindex

          국적      관광     상용    공용  유학/연수     기타       계     기준년월     대륙
0         일본  202825   1750    89    549   3971  209184  2010-01    아시아
1         대만   35788     41    17     37    516   36399  2010-01    아시아
2         홍콩   13874     55     0     21    595   14545  2010-01    아시아
3        마카오     554      0     0      0      0     554  2010-01    아시아
4         태국   13374     39    13     53   4335   17814  2010-01    아시아
5      말레이시아    3292     61     0     49   1157    4559  2010-01    아시아
6        필리핀    3984    219   104     87  16820   21214  2010-01    아시아
7      인도네시아    1840    327     3     65   2826    5061  2010-01    아시아
8       싱가포르    4201    120     3     27   1017    5368  2010-01    아시아
9        미얀마     630     18    54     10   3882    4594  2010-01    아시아
10       베트남    1384    284    21    150   2676    4515  2010-01    아시아
11        인도    1646   1387     7     68   2918    6026  2010-01    아시아
12      스리랑카      39     28     2     13    566     648  2010-01    아시아
13      파키스탄      70    200     1     41    402     714  2010-01    아시아
14     방글라데시      86     84     9     42    489     710  2010-01    아시아
15      캄보디아     102     22     0     25    131     280  2010-01    아시아
16        몽골    2333    234     6    197    554    3324  2010-01    아시아
17        중국   40425  11930    55   2751  36091   91252  2010-01    아시아
18        이란      69    309     0      3    217     598  2010-01    아시아
19      이스라엘     792     11     0      0     53     856  2010-01    아시아
20        터키     472     15     2     15    465     969  2010-01    아시아
21    우즈베키스탄     190    293    17     40    740    1280  2010-01    아시아
22     카자흐스탄     238     48     4     22    107     419  2010-01    아시아
23       GCC     223    134     0     18     55     430  2010-01    아시아
24    아시아 기타     700    629    14     56    333    1732  2010-01    아시아
25        미국   26943   1195  2145    135  12647   43065  2010-01   아메리카
26       캐나다    4912     96     4     21   3743    8776  2010-01   아메리카
27       멕시코     252     29     1      4     93     379  2010-01   아메리카
28       브라질     459     46     1     11    248     765  2010-01   아메리카
29     미주 기타     501     25     8     29    291     854  2010-01   아메리카
30        영국    5746    383     4     20   1368    7521  2010-01     유럽
31        독일    5838    255    24     68   1458    7643  2010-01     유럽
32       프랑스    3019    343    44    115   1145    4666  2010-01     유럽
33      네덜란드    1205     47     1     20    449    1722  2010-01     유럽
34       스웨덴     579     63     5     17    185     849  2010-01     유럽
35       스위스     512     30     0      7     77     626  2010-01     유럽
36      이탈리아    1157     40    12     12    155    1376  2010-01     유럽
37       덴마크     378     28     0      5     94     505  2010-01     유럽
38      노르웨이     517    274     0      6    149     946  2010-01     유럽
39       벨기에     322     25     1      8    104     460  2010-01     유럽
40     오스트리아     440     13     2      9    141     605  2010-01     유럽
41       스페인     542     29    11      8    108     698  2010-01     유럽
42       그리스     345     47     0      0    213     605  2010-01     유럽
43      포르투갈     256      9     0      1     44     310  2010-01     유럽
44       핀란드     376     16     0     12    131     535  2010-01     유럽
45      아일랜드     311     16     0      1    198     526  2010-01     유럽
46     우크라이나     386     29     0      6   1515    1936  2010-01     유럽
47       러시아    4861    505    15     83   5409   10873  2010-01     유럽
48     크로아티아     166     20     0      1    298     485  2010-01     유럽
49      루마니아     142     12     0      9    370     533  2010-01     유럽
50      불가리아     103      0     0      9    414     526  2010-01     유럽
51       폴란드     378     29     0     10    431     848  2010-01     유럽
52     구주 기타    1219     37     0     49    410    1715  2010-01     유럽
53   오스트레일리아    6974    340     9     10   1098    8431  2010-01  오세아니아
54      뉴질랜드    1545     53     1      1    435    2035  2010-01  오세아니아
55    대양주 기타     730      0     4      4    168     906  2010-01  오세아니아
56  남아프리카공화국     214     27     0      2    545     788  2010-01   아프리카
57   아프리카 기타     349    594    25     86    296    1350  2010-01   아프리카
58      국적미상      10      3     0      0      0      13  2010-01   기타대륙
59        교포       0      0     0      0  22537   22537  2010-01     교포

### 자국 내에서 관광의 비율을 확인하기위한컬럼 추가하기

In [87]:
### 컬럼명 : 자국내_관광객비율
# 자국내_관광객비율(%) = (자국내 관광객수 / 자국내 계) * 100


a = kto_201001_country_newindex["관광"]
b = kto_201001_country_newindex["계"]
kto_201001_country_newindex["자국내_관광객비율"] = round(a / b * 100, 3)


kto_201001_country_newindex

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,자국내_관광객비율
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,96.960
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.321
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.387
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.000
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.076
5,말레이시아,3292,61,0,49,1157,4559,2010-01,아시아,72.209
6,필리핀,3984,219,104,87,16820,21214,2010-01,아시아,18.780
7,인도네시아,1840,327,3,65,2826,5061,2010-01,아시아,36.356
8,싱가포르,4201,120,3,27,1017,5368,2010-01,아시아,78.260
9,미얀마,630,18,54,10,3882,4594,2010-01,아시아,13.714
10,베트남,1384,284,21,150,2676,4515,2010-01,아시아,30.653
11,인도,1646,1387,7,68,2918,6026,2010-01,아시아,27.315
12,스리랑카,39,28,2,13,566,648,2010-01,아시아,6.019
13,파키스탄,70,200,1,41,402,714,2010-01,아시아,9.804
14,방글라데시,86,84,9,42,489,710,2010-01,아시아,12.113
15,캄보디아,102,22,0,25,131,280,2010-01,아시아,36.429
16,몽골,2333,234,6,197,554,3324,2010-01,아시아,70.187
17,중국,40425,11930,55,2751,36091,91252,2010-01,아시아,44.300
18,이란,69,309,0,3,217,598,2010-01,아시아,11.538
19,이스라엘,792,11,0,0,53,856,2010-01,아시아,92.523
20,터키,472,15,2,15,465,969,2010-01,아시아,48.710
21,우즈베키스탄,190,293,17,40,740,1280,2010-01,아시아,14.844
22,카자흐스탄,238,48,4,22,107,419,2010-01,아시아,56.802
23,GCC,223,134,0,18,55,430,2010-01,아시아,51.860
24,아시아 기타,700,629,14,56,333,1732,2010-01,아시아,40.416
25,미국,26943,1195,2145,135,12647,43065,2010-01,아메리카,62.564
26,캐나다,4912,96,4,21,3743,8776,2010-01,아메리카,55.971
27,멕시코,252,29,1,4,93,379,2010-01,아메리카,66.491
28,브라질,459,46,1,11,248,765,2010-01,아메리카,60.000
29,미주 기타,501,25,8,29,291,854,2010-01,아메리카,58.665
30,영국,5746,383,4,20,1368,7521,2010-01,유럽,76.399
31,독일,5838,255,24,68,1458,7643,2010-01,유럽,76.384
32,프랑스,3019,343,44,115,1145,4666,2010-01,유럽,64.702
33,네덜란드,1205,47,1,20,449,1722,2010-01,유럽,69.977
34,스웨덴,579,63,5,17,185,849,2010-01,유럽,68.198
35,스위스,512,30,0,7,77,626,2010-01,유럽,81.789
36,이탈리아,1157,40,12,12,155,1376,2010-01,유럽,84.084
37,덴마크,378,28,0,5,94,505,2010-01,유럽,74.851
38,노르웨이,517,274,0,6,149,946,2010-01,유럽,54.651
39,벨기에,322,25,1,8,104,460,2010-01,유럽,70.000
40,오스트리아,440,13,2,9,141,605,2010-01,유럽,72.727
41,스페인,542,29,11,8,108,698,2010-01,유럽,77.650
42,그리스,345,47,0,0,213,605,2010-01,유럽,57.025
43,포르투갈,256,9,0,1,44,310,2010-01,유럽,82.581
44,핀란드,376,16,0,12,131,535,2010-01,유럽,70.280
45,아일랜드,311,16,0,1,198,526,2010-01,유럽,59.125
46,우크라이나,386,29,0,6,1515,1936,2010-01,유럽,19.938
47,러시아,4861,505,15,83,5409,10873,2010-01,유럽,44.707
48,크로아티아,166,20,0,1,298,485,2010-01,유럽,34.227
49,루마니아,142,12,0,9,370,533,2010-01,유럽,26.642
50,불가리아,103,0,0,9,414,526,2010-01,유럽,19.582
51,폴란드,378,29,0,10,431,848,2010-01,유럽,44.575
52,구주 기타,1219,37,0,49,410,1715,2010-01,유럽,71.079
53,오스트레일리아,6974,340,9,10,1098,8431,2010-01,오세아니아,82.719
54,뉴질랜드,1545,53,1,1,435,2035,2010-01,오세아니아,75.921
55,대양주 기타,730,0,4,4,168,906,2010-01,오세아니아,80.574
56,남아프리카공화국,214,27,0,2,545,788,2010-01,아프리카,27.157
57,아프리카 기타,349,594,25,86,296,1350,2010-01,아프리카,25.852
58,국적미상,10,3,0,0,0,13,2010-01,기타대륙,76.923
59,교포,0,0,0,0,22537,22537,2010-01,교포,0.000

### 국가별 관광객 비율 컬럼 추가

In [95]:
### 컬럼명 : 국가별_관광객비율
# 1. 국가 전체에 대한 관광객수 총합계가 필요함
total_sum = kto_201001_country_newindex["관광"].sum()
# print(total_sum)

# 2. 국가별_관광객비율(%) = (국가별 관광객수 / 충관광객수)* 100
kto_201001_country_newindex["국가별_관광객비율(%)"] = round((a / total_sum) * 100, 3)
kto_201001_country_newindex

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,자국내_관광객비율,국가별_관광객비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,96.960,50.603
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.321,8.929
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.387,3.461
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.000,0.138
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.076,3.337
5,말레이시아,3292,61,0,49,1157,4559,2010-01,아시아,72.209,0.821
6,필리핀,3984,219,104,87,16820,21214,2010-01,아시아,18.780,0.994
7,인도네시아,1840,327,3,65,2826,5061,2010-01,아시아,36.356,0.459
8,싱가포르,4201,120,3,27,1017,5368,2010-01,아시아,78.260,1.048
9,미얀마,630,18,54,10,3882,4594,2010-01,아시아,13.714,0.157
10,베트남,1384,284,21,150,2676,4515,2010-01,아시아,30.653,0.345
11,인도,1646,1387,7,68,2918,6026,2010-01,아시아,27.315,0.411
12,스리랑카,39,28,2,13,566,648,2010-01,아시아,6.019,0.010
13,파키스탄,70,200,1,41,402,714,2010-01,아시아,9.804,0.017
14,방글라데시,86,84,9,42,489,710,2010-01,아시아,12.113,0.021
15,캄보디아,102,22,0,25,131,280,2010-01,아시아,36.429,0.025
16,몽골,2333,234,6,197,554,3324,2010-01,아시아,70.187,0.582
17,중국,40425,11930,55,2751,36091,91252,2010-01,아시아,44.300,10.086
18,이란,69,309,0,3,217,598,2010-01,아시아,11.538,0.017
19,이스라엘,792,11,0,0,53,856,2010-01,아시아,92.523,0.198
20,터키,472,15,2,15,465,969,2010-01,아시아,48.710,0.118
21,우즈베키스탄,190,293,17,40,740,1280,2010-01,아시아,14.844,0.047
22,카자흐스탄,238,48,4,22,107,419,2010-01,아시아,56.802,0.059
23,GCC,223,134,0,18,55,430,2010-01,아시아,51.860,0.056
24,아시아 기타,700,629,14,56,333,1732,2010-01,아시아,40.416,0.175
25,미국,26943,1195,2145,135,12647,43065,2010-01,아메리카,62.564,6.722
26,캐나다,4912,96,4,21,3743,8776,2010-01,아메리카,55.971,1.225
27,멕시코,252,29,1,4,93,379,2010-01,아메리카,66.491,0.063
28,브라질,459,46,1,11,248,765,2010-01,아메리카,60.000,0.115
29,미주 기타,501,25,8,29,291,854,2010-01,아메리카,58.665,0.125
30,영국,5746,383,4,20,1368,7521,2010-01,유럽,76.399,1.434
31,독일,5838,255,24,68,1458,7643,2010-01,유럽,76.384,1.457
32,프랑스,3019,343,44,115,1145,4666,2010-01,유럽,64.702,0.753
33,네덜란드,1205,47,1,20,449,1722,2010-01,유럽,69.977,0.301
34,스웨덴,579,63,5,17,185,849,2010-01,유럽,68.198,0.144
35,스위스,512,30,0,7,77,626,2010-01,유럽,81.789,0.128
36,이탈리아,1157,40,12,12,155,1376,2010-01,유럽,84.084,0.289
37,덴마크,378,28,0,5,94,505,2010-01,유럽,74.851,0.094
38,노르웨이,517,274,0,6,149,946,2010-01,유럽,54.651,0.129
39,벨기에,322,25,1,8,104,460,2010-01,유럽,70.000,0.080
40,오스트리아,440,13,2,9,141,605,2010-01,유럽,72.727,0.110
41,스페인,542,29,11,8,108,698,2010-01,유럽,77.650,0.135
42,그리스,345,47,0,0,213,605,2010-01,유럽,57.025,0.086
43,포르투갈,256,9,0,1,44,310,2010-01,유럽,82.581,0.064
44,핀란드,376,16,0,12,131,535,2010-01,유럽,70.280,0.094
45,아일랜드,311,16,0,1,198,526,2010-01,유럽,59.125,0.078
46,우크라이나,386,29,0,6,1515,1936,2010-01,유럽,19.938,0.096
47,러시아,4861,505,15,83,5409,10873,2010-01,유럽,44.707,1.213
48,크로아티아,166,20,0,1,298,485,2010-01,유럽,34.227,0.041
49,루마니아,142,12,0,9,370,533,2010-01,유럽,26.642,0.035
50,불가리아,103,0,0,9,414,526,2010-01,유럽,19.582,0.026
51,폴란드,378,29,0,10,431,848,2010-01,유럽,44.575,0.094
52,구주 기타,1219,37,0,49,410,1715,2010-01,유럽,71.079,0.304
53,오스트레일리아,6974,340,9,10,1098,8431,2010-01,오세아니아,82.719,1.740
54,뉴질랜드,1545,53,1,1,435,2035,2010-01,오세아니아,75.921,0.385
55,대양주 기타,730,0,4,4,168,906,2010-01,오세아니아,80.574,0.182
56,남아프리카공화국,214,27,0,2,545,788,2010-01,아프리카,27.157,0.053
57,아프리카 기타,349,594,25,86,296,1350,2010-01,아프리카,25.852,0.087
58,국적미상,10,3,0,0,0,13,2010-01,기타대륙,76.923,0.002
59,교포,0,0,0,0,22537,22537,2010-01,교포,0.000,0.000

### 샘플링 처리 내용 정리

In [ ]:
"""
<지금까지 데이터 처리 순서>
 1. 파일 읽어들이기
 2. 기준년월 컬럼 추가
 3. 국적 컬럼에서 대륙이름 제거
 4. 데이터프레임 인덱스 재정의
 5. 대륙 컬럼 추가
 6. 자국내 관광객 비율 컬럼 추가
 7. 국가별 관광객 비율 컬럼 추가


 <통합을 위한 처리 순서>
 - 조별로 논의하기...

 1. 여러 파일 읽어들이기 위한 "반복문"만들기
    >2. "각 파일명 " 자동 생성
    >3. 위 "샘플링 코드" 그대로 사용
    >4. 깨끗한 데이터프레임에 각 처리된 데이터프레임"행단위 추가"하기
"""

In [ ]:
### 기준년월 컬럼 추가
kto_201001["기준년월"] = "2010-01"

### 국적 컬럼에서 대륙 데이터 제거하기
chk_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']
chk = kto_201001["국적"].isin(chk_list)
kto_201001[chk == True]
kto_201001_country = kto_201001[chk == False]

### 데이터프레임 인덱스 재정의
kto_201001_country_newindex = kto_201001_country.reset_index(drop=True)

### 대륙 컬럼 추가
contients = ["아시아"]*25 + ["아메리카"]*5 + ["유럽"]*23 + ["오세아니아"]*3 + ["아프리카"]*2 + ["기타대륙"]*1 + ["교포"]*1
kto_201001_country_newindex["대륙"] = contients

### 자국내 관광객 비율 컬럼 추가
a = kto_201001_country_newindex["관광"]
b = kto_201001_country_newindex["계"]
kto_201001_country_newindex["자국내_관광객비율"] = round(a / b * 100, 3)

###국가별 관광객 비율 컬럼추가
total_sum = kto_201001_country_newindex["관광"].sum()
kto_201001_country_newindex["국가별_관광객비율(%)"] = round((a / total_sum) * 100, 3)


kto_total = pd.concat([kto_total, kto_201001_country_newindex], ignore_index=True)

### 모든 파일 행단위 추가(통합) 하기

In [173]:
### 최종 통합된 데이터프레임 변수명 : kto_total

count = 0
kto_total = pd.DataFrame()

for i in range(10,20,1):
    for j in range(1,13,1):
        
        file_path = "./files2/"f'kto_20{i}{str(j).zfill(2)}'".xlsx"
        kto_201001 = pd.read_excel(file_path, header=1, usecols="A:G", skipfooter=4)
        print(file_path)


        ## 기준년월 컬럼 추가
        kto_201001["기준년월"] = f'20{i}-{str(j).zfill(2)}'
        
        ### 국적 컬럼에서 대륙 데이터 제거하기
        chk_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']
        chk = kto_201001["국적"].isin(chk_list)
        kto_201001[chk == True]
        kto_201001_country = kto_201001[chk == False]
        
        ### 데이터프레임 인덱스 재정의
        kto_201001_country_newindex = kto_201001_country.reset_index(drop=True)
        
        ### 대륙 컬럼 추가
        contients = ["아시아"]*25 + ["아메리카"]*5 + ["유럽"]*23 + ["오세아니아"]*3 + ["아프리카"]*2 + ["기타대륙"]*1 + ["교포"]*1
        kto_201001_country_newindex["대륙"] = contients
        
        ### 자국내 관광객 비율 컬럼 추가
        a = kto_201001_country_newindex["관광"]
        b = kto_201001_country_newindex["계"]
        kto_201001_country_newindex["자국내_관광객비율"] = round(a / b * 100, 3)
        
        ###국가별 관광객 비율 컬럼추가
        total_sum = kto_201001_country_newindex["관광"].sum()
        kto_201001_country_newindex["국가별_관광객비율(%)"] = round((a / total_sum) * 100, 3)
        
        
        kto_total = pd.concat([kto_total, kto_201001_country_newindex], ignore_index=True)
        
        
        count = count + 1
        print(count)
        if count == 116 :
            break

./files2/kto_201001.xlsx
1
./files2/kto_201002.xlsx
2
./files2/kto_201003.xlsx
3
./files2/kto_201004.xlsx
4
./files2/kto_201005.xlsx
5
./files2/kto_201006.xlsx
6
./files2/kto_201007.xlsx
7
./files2/kto_201008.xlsx
8
./files2/kto_201009.xlsx
9
./files2/kto_201010.xlsx
10
./files2/kto_201011.xlsx
11
./files2/kto_201012.xlsx
12
./files2/kto_201101.xlsx
13
./files2/kto_201102.xlsx
14
./files2/kto_201103.xlsx
15
./files2/kto_201104.xlsx
16
./files2/kto_201105.xlsx
17
./files2/kto_201106.xlsx
18
./files2/kto_201107.xlsx
19
./files2/kto_201108.xlsx
20
./files2/kto_201109.xlsx
21
./files2/kto_201110.xlsx
22
./files2/kto_201111.xlsx
23
./files2/kto_201112.xlsx
24
./files2/kto_201201.xlsx
25
./files2/kto_201202.xlsx
26
./files2/kto_201203.xlsx
27
./files2/kto_201204.xlsx
28
./files2/kto_201205.xlsx
29
./files2/kto_201206.xlsx
30
./files2/kto_201207.xlsx
31
./files2/kto_201208.xlsx
32
./files2/kto_201209.xlsx
33
./files2/kto_201210.xlsx
34
./files2/kto_201211.xlsx
35
./files2/kto_201212.xlsx
36
./files2/kto_201301.xlsx
37
./files2/kto_201302.xlsx
38
./files2/kto_201303.xlsx
39
./files2/kto_201304.xlsx
40
./files2/kto_201305.xlsx
41
./files2/kto_201306.xlsx
42
./files2/kto_201307.xlsx
43
./files2/kto_201308.xlsx
44
./files2/kto_201309.xlsx
45
./files2/kto_201310.xlsx
46
./files2/kto_201311.xlsx
47
./files2/kto_201312.xlsx
48
./files2/kto_201401.xlsx
49
./files2/kto_201402.xlsx
50
./files2/kto_201403.xlsx
51
./files2/kto_201404.xlsx
52
./files2/kto_201405.xlsx
53
./files2/kto_201406.xlsx
54
./files2/kto_201407.xlsx
55
./files2/kto_201408.xlsx
56
./files2/kto_201409.xlsx
57
./files2/kto_201410.xlsx
58
./files2/kto_201411.xlsx
59
./files2/kto_201412.xlsx
60
./files2/kto_201501.xlsx
61
./files2/kto_201502.xlsx
62
./files2/kto_201503.xlsx
63
./files2/kto_201504.xlsx
64
./files2/kto_201505.xlsx
65
./files2/kto_201506.xlsx
66
./files2/kto_201507.xlsx
67
./files2/kto_201508.xlsx
68
./files2/kto_201509.xlsx
69
./files2/kto_201510.xlsx
70
./files2/kto_201511.xlsx
71
./files2/kto_201512.xlsx
72
./files2/kto_201601.xlsx
73
./files2/kto_201602.xlsx
74
./files2/kto_201603.xlsx
75
./files2/kto_201604.xlsx
76
./files2/kto_201605.xlsx
77
./files2/kto_201606.xlsx
78
./files2/kto_201607.xlsx
79
./files2/kto_201608.xlsx
80
./files2/kto_201609.xlsx
81
./files2/kto_201610.xlsx
82
./files2/kto_201611.xlsx
83
./files2/kto_201612.xlsx
84
./files2/kto_201701.xlsx
85
./files2/kto_201702.xlsx
86
./files2/kto_201703.xlsx
87
./files2/kto_201704.xlsx
88
./files2/kto_201705.xlsx
89
./files2/kto_201706.xlsx
90
./files2/kto_201707.xlsx
91
./files2/kto_201708.xlsx
92
./files2/kto_201709.xlsx
93
./files2/kto_201710.xlsx
94
./files2/kto_201711.xlsx
95
./files2/kto_201712.xlsx
96
./files2/kto_201801.xlsx
97
./files2/kto_201802.xlsx
98
./files2/kto_201803.xlsx
99
./files2/kto_201804.xlsx
100
./files2/kto_201805.xlsx
101
./files2/kto_201806.xlsx
102
./files2/kto_201807.xlsx
103
./files2/kto_201808.xlsx
104
./files2/kto_201809.xlsx
105
./files2/kto_201810.xlsx
106
./files2/kto_201811.xlsx
107
./files2/kto_201812.xlsx
108
./files2/kto_201901.xlsx
109
./files2/kto_201902.xlsx
110
./files2/kto_201903.xlsx
111
./files2/kto_201904.xlsx
112
./files2/kto_201905.xlsx
113
./files2/kto_201906.xlsx
114
./files2/kto_201907.xlsx
115
./files2/kto_201908.xlsx
116

In [174]:
kto_total

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,자국내_관광객비율,국가별_관광객비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,96.960,50.603
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.321,8.929
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.387,3.461
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.000,0.138
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.076,3.337
...,...,...,...,...,...,...,...,...,...,...,...
6955,대양주 기타,519,1,6,9,74,609,2019-08,오세아니아,85.222,0.041
6956,남아프리카공화국,634,6,1,11,1235,1887,2019-08,아프리카,33.598,0.051
6957,아프리카 기타,2081,593,165,841,1184,4864,2019-08,아프리카,42.784,0.166
6958,국적미상,36,1,0,8,12,57,2019-08,기타대륙,63.158,0.003
6959,교포,0,0,0,0,16560,16560,2019-08,교포,0.000,0.000

In [168]:
kto_total

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6960 entries, 0 to 6959
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   국적            6960 non-null   object
 1   관광            6960 non-null   int64
 2   상용            6960 non-null   int64
 3   공용            6960 non-null   int64
 4   유학/연수         6960 non-null   int64
 5   기타            6960 non-null   int64
 6   계             6960 non-null   int64
 7   기준년월          6960 non-null   object
 8   대륙            6960 non-null   object
 9   자국내_관광객비율     6960 non-null   float64
 10  국가별_관광객비율(%)  6960 non-null   float64
dtypes: float64(2), int64(6), object(3)
memory usage: 598.2+ KB

In [176]:
# 5. 파일로 저장하기
save_path = "./files_total/kto_total.xlsx"

kto_total.to_excel(save_path, index=False)

### 운영체제(OS) 라이브러리를 이용하여 폴더 내 파일 검색 사용하기

In [177]:
import os

In [179]:
### 현재 작업중인 .ipynb 파일이 위치한 디렉토리 위치 조회
# - 절대경로로 반환됩니다.

now_dir = os.getcwd()
now_dir

'C:\\pknu_202601\\day08_데이터처리_입국객데이터_통합'

In [182]:
### now_dir 내에 존재하는 디렉토리 및 파일이름을 모두 조회하기
# - 반환되는 타입은 "리스트 타입"
now_dir_allName = os.listdir(now_dir)
dir_nm = now_dir_allName[2]
dir_nm

'files2'

In [185]:
### 사용할 디렉토리 내에 모든 파일명 조회하기
# - 리스트로 반환됨
# - 단, 내가 사용할 폴더 내에는 순수한 수집 데이터 파일만 존재해야함
file_list = os.listdir(dir_nm)
file_list

['kto_201001.xlsx',
 'kto_201002.xlsx',
 'kto_201003.xlsx',
 'kto_201004.xlsx',
 'kto_201005.xlsx',
 'kto_201006.xlsx',
 'kto_201007.xlsx',
 'kto_201008.xlsx',
 'kto_201009.xlsx',
 'kto_201010.xlsx',
 'kto_201011.xlsx',
 'kto_201012.xlsx',
 'kto_201101.xlsx',
 'kto_201102.xlsx',
 'kto_201103.xlsx',
 'kto_201104.xlsx',
 'kto_201105.xlsx',
 'kto_201106.xlsx',
 'kto_201107.xlsx',
 'kto_201108.xlsx',
 'kto_201109.xlsx',
 'kto_201110.xlsx',
 'kto_201111.xlsx',
 'kto_201112.xlsx',
 'kto_201201.xlsx',
 'kto_201202.xlsx',
 'kto_201203.xlsx',
 'kto_201204.xlsx',
 'kto_201205.xlsx',
 'kto_201206.xlsx',
 'kto_201207.xlsx',
 'kto_201208.xlsx',
 'kto_201209.xlsx',
 'kto_201210.xlsx',
 'kto_201211.xlsx',
 'kto_201212.xlsx',
 'kto_201301.xlsx',
 'kto_201302.xlsx',
 'kto_201303.xlsx',
 'kto_201304.xlsx',
 'kto_201305.xlsx',
 'kto_201306.xlsx',
 'kto_201307.xlsx',
 'kto_201308.xlsx',
 'kto_201309.xlsx',
 'kto_201310.xlsx',
 'kto_201311.xlsx',
 'kto_201312.xlsx',
 'kto_201401.xlsx',
 'kto_201402.xlsx',
 'kto_201403.xlsx',
 'kto_201404.xlsx',
 'kto_201405.xlsx',
 'kto_201406.xlsx',
 'kto_201407.xlsx',
 'kto_201408.xlsx',
 'kto_201409.xlsx',
 'kto_201410.xlsx',
 'kto_201411.xlsx',
 'kto_201412.xlsx',
 'kto_201501.xlsx',
 'kto_201502.xlsx',
 'kto_201503.xlsx',
 'kto_201504.xlsx',
 'kto_201505.xlsx',
 'kto_201506.xlsx',
 'kto_201507.xlsx',
 'kto_201508.xlsx',
 'kto_201509.xlsx',
 'kto_201510.xlsx',
 'kto_201511.xlsx',
 'kto_201512.xlsx',
 'kto_201601.xlsx',
 'kto_201602.xlsx',
 'kto_201603.xlsx',
 'kto_201604.xlsx',
 'kto_201605.xlsx',
 'kto_201606.xlsx',
 'kto_201607.xlsx',
 'kto_201608.xlsx',
 'kto_201609.xlsx',
 'kto_201610.xlsx',
 'kto_201611.xlsx',
 'kto_201612.xlsx',
 'kto_201701.xlsx',
 'kto_201702.xlsx',
 'kto_201703.xlsx',
 'kto_201704.xlsx',
 'kto_201705.xlsx',
 'kto_201706.xlsx',
 'kto_201707.xlsx',
 'kto_201708.xlsx',
 'kto_201709.xlsx',
 'kto_201710.xlsx',
 'kto_201711.xlsx',
 'kto_201712.xlsx',
 'kto_201801.xlsx',
 'kto_201802.xlsx',
 'kto_201803.xlsx',
 'kto_201804.xlsx',
 'kto_201805.xlsx',
 'kto_201806.xlsx',
 'kto_201807.xlsx',
 'kto_201808.xlsx',
 'kto_201809.xlsx',
 'kto_201810.xlsx',
 'kto_201811.xlsx',
 'kto_201812.xlsx',
 'kto_201901.xlsx',
 'kto_201902.xlsx',
 'kto_201903.xlsx',
 'kto_201904.xlsx',
 'kto_201905.xlsx',
 'kto_201906.xlsx',
 'kto_201907.xlsx',
 'kto_201908.xlsx']

In [186]:
### 파일 이름을 만드는 규칙
f"{now_dir}/{dir_nm}/{file_list[0]}"

'C:\\pknu_202601\\day08_데이터처리_입국객데이터_통합/files2/kto_201001.xlsx'

In [191]:
### 기준년월 만드는 규칙
f"{file_list[0][4:8]}-{file_list[0][8:10]}"

'2010-01'

In [196]:
### 깨끗한 데이터 프레임 생성
kto_total = pd.DataFrame()

### file_list의 파일명 갯수 만큼 반복 하기
for file_nm in file_list:
    # print(file_nm)
    file_path = f"{now_dir}/{dir_nm}/{file_nm}"
    # print(file_path)
    kto_201001 = pd.read_excel(file_path, header=1, usecols="A:G", skipfooter=4)
    # print(file_path)


    ## 기준년월 컬럼 추가
    kto_201001["기준년월"] = f"{file_nm[0][4:8]}-{file_nm[0][8:10]}"
    
    ### 국적 컬럼에서 대륙 데이터 제거하기
    chk_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']
    chk = kto_201001["국적"].isin(chk_list)
    kto_201001[chk == True]
    kto_201001_country = kto_201001[chk == False]
    
    ### 데이터프레임 인덱스 재정의
    kto_201001_country_newindex = kto_201001_country.reset_index(drop=True)
    
    ### 대륙 컬럼 추가
    contients = ["아시아"]*25 + ["아메리카"]*5 + ["유럽"]*23 + ["오세아니아"]*3 + ["아프리카"]*2 + ["기타대륙"]*1 + ["교포"]*1
    kto_201001_country_newindex["대륙"] = contients
    
    ### 자국내 관광객 비율 컬럼 추가
    a = kto_201001_country_newindex["관광"]
    b = kto_201001_country_newindex["계"]
    kto_201001_country_newindex["자국내_관광객비율"] = round(a / b * 100, 3)
    
    ###국가별 관광객 비율 컬럼추가
    total_sum = kto_201001_country_newindex["관광"].sum()
    kto_201001_country_newindex["국가별_관광객비율(%)"] = round((a / total_sum) * 100, 3)
    
    
    kto_total = pd.concat([kto_total, kto_201001_country_newindex], ignore_index=True)

print("처리 완료")

처리 완료

In [197]:
kto_total

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,자국내_관광객비율,국가별_관광객비율(%)
0,일본,202825,1750,89,549,3971,209184,-,아시아,96.960,50.603
1,대만,35788,41,17,37,516,36399,-,아시아,98.321,8.929
2,홍콩,13874,55,0,21,595,14545,-,아시아,95.387,3.461
3,마카오,554,0,0,0,0,554,-,아시아,100.000,0.138
4,태국,13374,39,13,53,4335,17814,-,아시아,75.076,3.337
...,...,...,...,...,...,...,...,...,...,...,...
6955,대양주 기타,519,1,6,9,74,609,-,오세아니아,85.222,0.041
6956,남아프리카공화국,634,6,1,11,1235,1887,-,아프리카,33.598,0.051
6957,아프리카 기타,2081,593,165,841,1184,4864,-,아프리카,42.784,0.166
6958,국적미상,36,1,0,8,12,57,-,기타대륙,63.158,0.003
6959,교포,0,0,0,0,16560,16560,-,교포,0.000,0.000