In [ ]:
'''
<여러개의 변수값을 저장할 수 있는 변수>
 - 리스트(list), 딕셔너리(dict), 튜플(tuple), 기타(집합(set)...)
 - 꼭 알고 있어야하는 변수는 list와 dict

 <리스트(list)>
 -  여러개의 값(타입)을 저장해 놓을 수 있는 변수를 의미함 : 리스트 변수라고도 칭함
 - 타입은 list 타입을 사용
 - list를 의미하는 기호는 대괄호([])를 사용함 (출력 결과에 대괄호 있으면 리스트)
 - 리스트내에 저장된 여러개의 값들은 번호 및 순서를 가지고 있음
   (이 때 번호를 "인덱스(index) 번호"라고 칭함)
 - 인덱스 번호는 리스트가 관리하는 값들의 메모리 순서를 의미함
 - 리스트 내에 저장할 수 있는 값들은 : 일반변수 및 list, dict, tuple 등등 모두 
 - 여러개의 값들을 처리하는 부분부터는 "메모리 관점"에서 이해해야 합니다.
 

'''

In [12]:
### list 변수 정의하기
list_val = [10, 20, "a", "abc", 12.8, 66]
print(list_val[5])

66

In [13]:
### "a" 값 추출하기
list_val[2] 
list_val[0]

10

In [14]:
### list 내에 데이터의 갯수(즉, 메모리의 갯수) 확인하기 : len()사용
len(list_val)

6

In [42]:
### for문을 이용해서, list_val에 저장된 데이터들을 각각 출력해주세요.
# 시작 인덱스 번호 : 0
# 끝 인덱스 번호 : len(list_val)-1
# 증기 패턴 : 1씩 증가
for i in range(0,len(list_val),1):
    print(list_val[i])

10
20
a
abc
12.8
66

In [41]:
list_cnt = [2, 3, 65, 33, 66, 99, 4, 54,]
list_cnt
### list_cnt의 값들 중 짝수의 값만 추출해서 출력해주세요.

for i in range(0,len(list_cnt),1):
    if list_cnt[i] % 2 == 0:
        print(list_cnt[i])

2
66
4
54

In [40]:
list_cnt = [10, 20, 30, 30, 10, 30, 21, 44, 77, 33, 22]
len(list_cnt)

### 위 리스트 데이터에서 30인 값들만 추출해서 출력해주세요.

for i in range(0,len(list_cnt), 1):
    if list_cnt[i] == 30 :
        print(list_cnt[i])

30
30
30

In [44]:
list_cnt = [10, 20, 30, 30, 10, 30, 21, 44, 77, 33, 22]
len(list_cnt)

### 위 리스트 데이터에서 30인 값들이 총 몇개 있는지 총갯수만 출력해주세요.
a = 0
for i in range(0,len(list_cnt), 1):
    if list_cnt[i] == 30 :
        a = a + 1
print(a)

3

### list를 이용해서 for문 작성하는 방법 2가지

In [47]:
'''

<list를 이용한 for문 작성법>
 1. 인덱스 번호를 이용하는 방법
     for i in range(시작값, len(리스트변수), 증가값)
 
 2. 리스트 자체를 이용하는 방법(리스트의 값 자체를 이용)
     for 값 in 리스트변수명 :

 range(0,11,1) = [0,1,2,3,4,5,6,7,8,9,10]
 for i in [0,1,2,3,4,5,6,7,8,9,10] :
 for i in list_cnt :
'''

In [46]:
list_cnt

[10, 20, 30, 30, 10, 30, 21, 44, 77, 33, 22]

In [50]:
### 임의 리스트 변수 생성
list_temp = [1,2, "이순신", "홍길동", 3.141592]
list_temp

### 인덱스 번호(메모리 번호)를 이용하는 방법
for i in range(0,len(list_temp),1):
    print(list_temp[i])

### 리스트 자체 사용하는 방법 : 값을 바로 추출함
for val in list_temp :
    print("--->", val)

1
2
이순신
홍길동
3.141592
---> 1
---> 2
---> 이순신
---> 홍길동
---> 3.141592

In [69]:
### 번호를 관리하는 리스트 생성
list_num = [1,2,3,4,5]
### 이름을 관리하는 리스트 생성
list_name = ["김유신","춘향이", "이순신", "홍길동", "홍길동2"]
### 지역을 관리하는 리스트 생성
list_addr = ["서울", "대전", "부산", "대구", "충남"]

list_num, list_name, list_addr 

### 이래처럼 출력해주세요.
# "1번 : 김유신님은 서울에 거주하고 있습니다."
# "2번 : 춘향이님은 대전에 거주하고 있습니다."
# ...

for i in range(0,len(list_num),1) :
    print(f"{list_num[i]}번 :{list_name[i]}님은 {list_addr[i]}에 거주하고 있습니다")

1번 :김유신님은 서울에 거주하고 있습니다
2번 :춘향이님은 대전에 거주하고 있습니다
3번 :이순신님은 부산에 거주하고 있습니다
4번 :홍길동님은 대구에 거주하고 있습니다
5번 :홍길동2님은 충남에 거주하고 있습니다

In [76]:
a, _, c = 1, 3,"hh"
a, c = (1, "홍1")
print(a,c)

1 홍1

In [74]:
### 여러 리스트에서 각 인덱스 별로 묶어서 추출하는 함수 
# - 리스트1 = [1,2,3]
# - 리스트2 = ["홈1", "홈2", "홈3"]
# - zip(리스트1, 리스트2, ...리스트n)
# - 결과값[(1, "홍1"),
#          (2, "홍2")
#          (3, "홍3")]

list1 = [1,2,3]
list2 = ["홈1", "홈2", "홈3"]
zip(list1, list2)
for i , j in [(1, "홍1"),(2, "홍2"),(3, "홍3")] :
    print(i,j)

1 홍1
2 홍2
3 홍3

In [77]:
for i, j, u in zip(list_num, list_name, list_addr):
    print(f"{i}번 :{j}님은 {u}에 거주하고 있습니다")

1번 :김유신님은 서울에 거주하고 있습니다
2번 :춘향이님은 대전에 거주하고 있습니다
3번 :이순신님은 부산에 거주하고 있습니다
4번 :홍길동님은 대구에 거주하고 있습니다
5번 :홍길동2님은 충남에 거주하고 있습니다

### 리스트 생성 방법

In [78]:
### 깨끗한 리스트 만들기 (1) -> 가장 많이 사용...
# - 값이 없는 리스트를 의미함
# - 값은 필요시 별도로 넣어 주어야 합니다.
list_temp = []
list_temp

[]

In [79]:
### 깨긋한 리스트 생성(2)

list_temp = list()
list_temp

[]

In [80]:
### 값이 있는 리스트 생성하기(3)
list_temp = [1,2,3]
list_temp

[1, 2, 3]

In [83]:
### 값들을 생성해서 리스트 타입으로 변환해서 생성하기(4)
# - 시각화(그래프) 할 때 그래프의 x축범위와 y축범위에 대한 값 정의할 때 간혹 사용.
list_temp = list(range(0,1001,1))
print(list_temp)

In [85]:
list_all = [1, 1.3, "t", [1,2,3], list_cnt]
list_all

[1, 1.3, 't', [1, 2, 3], [10, 20, 30, 30, 10, 30, 21, 44, 77, 33, 22]]

In [89]:
### 데이터 타입(type) 확인하는 함수 : type()
for val in list_all :
    if type(val) == int :
        print(val, type(val))

1 <class 'int'>

In [104]:
### list_all에 들어있는 값들 중에 리스트인 데이터들에 들어있는 값들만 각각 추출...

for i in list_all :
    if type(i) == list :
        print(i)
        for j in i :
            print(j)

[1, 2, 3]
1
2
3
[10, 20, 30, 30, 10, 30, 21, 44, 77, 33, 22]
10
20
30
30
10
30
21
44
77
33
22

### 리스트 내에 값을 슬라이싱을 이용해서 추출하기

In [112]:
### 슬라이싱 : 인덱스 번호를 이용해서 리스트 내에 값들을 추출하는 방법
#           -> 범위 지정자(:)를 사용하여 값들을 추출함
list_temp = ["홍1", "홍2", "홍3", "홍4", "홍5"]
print(list_temp[0])
print(list_temp[2])
print(list_temp[-1])
print(list_temp[-2])
### 리스트의 마지막 인덱스 값은 -1로 사용 가능

###범위 지정 추출
print(list_temp[1:2])
print(list_temp[:-1])
# 슬라이싱 사용할 때 -1은 제일 뒤의 값을 빼고 다 리스트로 표현
# 슬라이싱과 인덱스번호의 차이점 : 슬라이싱은 리스트로 표현, 인덱스번호는 리스트안의 문자열로 표현

홍1
홍3
홍5
홍4
['홍2']
['홍1', '홍2', '홍3', '홍4']

In [124]:
### 문자열도 리스트와 같은 메모리 구조를 가지고 있음.
str1 = "안녕하세요."
str1[5]

for i in str1 :
    print(i)

안
녕
하
세
요
.

### 리스트에 값추가하기 : append()

In [73]:
### 깨끗한 리스트 생성하기
# - 변수명 : list_temp1

list_temp1 = []

### 데이터 추가하기
list_temp1.append(1)
type(list_temp1), len(list_temp1), list_temp1

(list, 1, [1])

In [77]:
list_temp1
a = "박성준"
list_temp1.append(a)
list_temp1

[1, '박성준', '박성준']

In [135]:
list_temp1.append(list_temp)

type(list_temp1), len(list_temp1), list_temp1

(list, 8, [1, 22, 22, 22, 22, '홍1', '홍1', ['홍1', '홍2', '홍3', '홍4', '홍5']])

In [3]:
### 0부터 100까지의 값을 가지는 리스트 생성하기
# - for문을 이용해 주세요..
# - 변수명 : list_no

list_no = []

for i in range(0, 101, 1) :
    list_no.append(i)
print(list_no)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [9]:
### 이름을 관리하는 리스트 만들기
# - 변수명 : list_name
# - 데이터값 - ["홍길동0","홍길동2",...."홍길동100"]
# - 이름뒤에 숫자는 list_no의 값을 이용...
list_name = []
for i in list_no :
    list_name.append(f"홍길동{i}")
print(list_name)

['홍길동0', '홍길동1', '홍길동2', '홍길동3', '홍길동4', '홍길동5', '홍길동6', '홍길동7', '홍길동8', '홍길동9', '홍길동10', '홍길동11', '홍길동12', '홍길동13', '홍길동14', '홍길동15', '홍길동16', '홍길동17', '홍길동18', '홍길동19', '홍길동20', '홍길동21', '홍길동22', '홍길동23', '홍길동24', '홍길동25', '홍길동26', '홍길동27', '홍길동28', '홍길동29', '홍길동30', '홍길동31', '홍길동32', '홍길동33', '홍길동34', '홍길동35', '홍길동36', '홍길동37', '홍길동38', '홍길동39', '홍길동40', '홍길동41', '홍길동42', '홍길동43', '홍길동44', '홍길동45', '홍길동46', '홍길동47', '홍길동48', '홍길동49', '홍길동50', '홍길동51', '홍길동52', '홍길동53', '홍길동54', '홍길동55', '홍길동56', '홍길동57', '홍길동58', '홍길동59', '홍길동60', '홍길동61', '홍길동62', '홍길동63', '홍길동64', '홍길동65', '홍길동66', '홍길동67', '홍길동68', '홍길동69', '홍길동70', '홍길동71', '홍길동72', '홍길동73', '홍길동74', '홍길동75', '홍길동76', '홍길동77', '홍길동78', '홍길동79', '홍길동80', '홍길동81', '홍길동82', '홍길동83', '홍길동84', '홍길동85', '홍길동86', '홍길동87', '홍길동88', '홍길동89', '홍길동90', '홍길동91', '홍길동92', '홍길동93', '홍길동94', '홍길동95', '홍길동96', '홍길동97', '홍길동98', '홍길동99', '홍길동100']

In [36]:
### list_name에 들어있는 값들 중에
# - 이름의 끝 번호가 3의 배수인 값들만 추출해서
# - list_temp3 리스트 변수에 저장하기

list_temp3 = []

for i in list_name :
    if int(i[3:]) % 3 == 0:
        if int(i[3:]) != 0 :
            list_temp3.append(i)
print(list_temp3)

['홍길동3', '홍길동6', '홍길동9', '홍길동12', '홍길동15', '홍길동18', '홍길동21', '홍길동24', '홍길동27', '홍길동30', '홍길동33', '홍길동36', '홍길동39', '홍길동42', '홍길동45', '홍길동48', '홍길동51', '홍길동54', '홍길동57', '홍길동60', '홍길동63', '홍길동66', '홍길동69', '홍길동72', '홍길동75', '홍길동78', '홍길동81', '홍길동84', '홍길동87', '홍길동90', '홍길동93', '홍길동96', '홍길동99']

In [39]:
### 리스트 내에 특정 값이 있는 메모리 삭제하기
# - remove(값) : 값을 이용하여 삭제(단, 값이 없으면 오류 납니다.)
list_temp3.remove("홍길동3")
print(list_temp3)

['홍길동9', '홍길동12', '홍길동15', '홍길동18', '홍길동21', '홍길동24', '홍길동27', '홍길동30', '홍길동33', '홍길동36', '홍길동39', '홍길동42', '홍길동45', '홍길동48', '홍길동51', '홍길동54', '홍길동57', '홍길동60', '홍길동63', '홍길동66', '홍길동69', '홍길동72', '홍길동75', '홍길동78', '홍길동81', '홍길동84', '홍길동87', '홍길동90', '홍길동93', '홍길동96', '홍길동99']

In [46]:
### 리스트 내에 특정 인덱스 번호가 있는 메모리 삭제하기
# - del 리스트변수[인덱스번호]
#     : 인덱스 번호를 이용하여 삭제(단, 인덱스 번호가 없으면 오류납니다.)

del list_temp3[27]
print(len(list_temp3),list_temp3)

27 ['홍길동18', '홍길동21', '홍길동24', '홍길동27', '홍길동30', '홍길동33', '홍길동36', '홍길동39', '홍길동42', '홍길동45', '홍길동48', '홍길동51', '홍길동54', '홍길동57', '홍길동60', '홍길동63', '홍길동66', '홍길동69', '홍길동72', '홍길동75', '홍길동78', '홍길동81', '홍길동84', '홍길동87', '홍길동90', '홍길동93', '홍길동96']

In [6]:
### 임의 이름을 입력 받아서 
# - 해당 이름에 해당하는 인덱스 위치와 동일한 
# - 3개의 리스트 내에 값들을 추출하여 아래와 같이 출력하기
#   "이순신" 이름을 입력받았다고 가정하고
#    출력은 "이순신님의 나이는 55살이고, 서울에 거주하고 있습니다."
# - 위 프로그램은 무한 반복해서 이름을 계속해서 입력 받고 출력하도록 합니다.
#   단, 무한반복 종료는 잘 생각하셔서 처리해 주세요.
# - 입력된 이름이 존재하지 않는 경우는 "이름이 존재하지 않습니다. 다시입력" 출력


name = ["홍길동", "이순신", "김유신"]
age = [14, 55, 33]
area = ["부산", "서울", "대구"]


#내가 한거
while 1 :
    a = input("이름을 입력해주세요. (종료하시려면 x를 입력해주세요.)")
    if a == "x" :
        break
    for i in range (0, len(name), 1) :
        if a == name[i] :
            print(f"{name[i]}님의 나이는 {age[i]}살이고, {area[i]}에 거주하고 있습니다.")
    if a != name[0] and a != name[1] and a != name[2] :
        print("이름이 존재하지 않습니다. 다시입력")

이름을 입력해주세요. (종료하시려면 x를 입력해주세요.) x

In [20]:
# 또 다른 예시
while True :
    #임의 이름 입력받기
    val = input("이름을 입력해주세요.(종료는 '종료' 입력)")

    #무한루프 종료
    if val == "종료" :
        print("while문을 종료합니다")
        break
    chk_bool = False

    for idx in range (0,len(name),1) :
        if val == name[idx] :
            print(f"{name[idx]}님의 나이는 {age[idx]}살이고, {area[idx]}에 거주하고있습니다")
            chk_bool =True
            break
    # 같은 이름이 없다면...
    if chk_bool == False :
        print("해당 이름이 존재하지 않습니다. 다시 입력해 주세요!")

이름을 입력해주세요.(종료는 '종료' 입력) 홍길동

홍길동님의 나이는 14살이고, 부산에 거주하고있습니다

이름을 입력해주세요.(종료는 '종료' 입력) 이순신

이순신님의 나이는 55살이고, 서울에 거주하고있습니다

이름을 입력해주세요.(종료는 '종료' 입력) 김유신

김유신님의 나이는 33살이고, 대구에 거주하고있습니다

이름을 입력해주세요.(종료는 '종료' 입력) 박성준

해당 이름이 존재하지 않습니다. 다시 입력해 주세요!

이름을 입력해주세요.(종료는 '종료' 입력) 종료

while문을 종료합니다

In [29]:
# 또 다른 예시
while True :
    #임의 이름 입력받기
    val = input("이름을 입력해주세요.(종료는 '종료' 입력)")

    #무한루프 종료
    if val == "종료" :
        print("while문을 종료합니다")
        break
    # chk_bool = False

    for idx in range (0,len(name),1) :
        if val == name[idx] :
            print(f"{name[idx]}님의 나이는 {age[idx]}살이고, {area[idx]}에 거주하고있습니다")
            chk_bool =True
            break
    # 같은 이름이 없다면...
    # if chk_bool == False :
    else :
        print("해당 이름이 존재하지 않습니다. 다시 입력해 주세요!")

### else를 사용하는 경우
# - if - elif - else -
# - for - else -
# - while - else -

이름을 입력해주세요.(종료는 '종료' 입력) 이순신

이순신님의 나이는 55살이고, 서울에 거주하고있습니다

이름을 입력해주세요.(종료는 '종료' 입력) 김유신

김유신님의 나이는 33살이고, 대구에 거주하고있습니다

이름을 입력해주세요.(종료는 '종료' 입력) 홍길동

홍길동님의 나이는 14살이고, 부산에 거주하고있습니다

이름을 입력해주세요.(종료는 '종료' 입력) 박성준

해당 이름이 존재하지 않습니다. 다시 입력해 주세요!

이름을 입력해주세요.(종료는 '종료' 입력) 종료

while문을 종료합니다

In [19]:
val = "1이순신"

chk_bool = False

for idx in range (0,len(name),1) :
    if val == name[idx] :
        print(f"{name[idx]}님의 나이는 {age[idx]}살이고, {area[idx]}에 거주하고있습니다")
        chk_bool =True
        break
# 같은 이름이 없다면...
if chk_bool == False :
    print("해당 이름이 존재하지 않습니다. 다시 입력해 주세요!")

해당 이름이 존재하지 않습니다. 다시 입력해 주세요!

In [24]:
###리스트 내에 특정 값의 인덱스 번호 찾기 : index() 함수
# - 리스트변수명.index("값") -> 해당 값의 인덱스 번호를 반환합니다.
idx = name.index("김유신")
print(f"{name[idx]}님의 나이는 {age[idx]}살이고, {area[idx]}에 거주하고있습니다")

김유신님의 나이는 33살이고, 대구에 거주하고있습니다

In [26]:
# 또 다른 예시
while True :
    #임의 이름 입력받기
    val = input("이름을 입력해주세요.(종료는 '종료' 입력)")

    #무한루프 종료
    if val == "종료" :
        print("while문을 종료합니다")
        break
        
    # 입력된 이름에 대한 처리 시작...
    idx = name.index(val)
    print(f"{name[idx]}님의 나이는 {age[idx]}살이고, {area[idx]}에 거주하고있습니다")
    
    # 같은 이름이 없다면...
    #if chk_bool == False :
        #print("해당 이름이 존재하지 않습니다. 다시 입력해 주세요!")

이름을 입력해주세요.(종료는 '종료' 입력) 이순신

이순신님의 나이는 55살이고, 서울에 거주하고있습니다

이름을 입력해주세요.(종료는 '종료' 입력) 김유신

김유신님의 나이는 33살이고, 대구에 거주하고있습니다

이름을 입력해주세요.(종료는 '종료' 입력) 홍길동

홍길동님의 나이는 14살이고, 부산에 거주하고있습니다

이름을 입력해주세요.(종료는 '종료' 입력) 종료

while문을 종료합니다

### 예외처리 : try : except : ~

In [28]:
### 예외처리
# - 오류가 발생할 것으로 예상되는 문장(정상적인 문장)을 try로 블록
# - except를 이용하여 오류가 발생한 경우에 대한 처리를 합니다.
# - 보통 외부 장치, 외부 소프트웨어와의 연동을 할 때 주로 사용됨
#  -> 이때 외부의 의미는 현재 프로그램을 벗어난 것을 의미함


# 또 다른 예시
while True :
    #임의 이름 입력받기
    val = input("이름을 입력해주세요.(종료는 '종료' 입력)")

    #무한루프 종료
    if val == "종료" :
        print("while문을 종료합니다")
        break
        
    # 입력된 이름에 대한 처리 시작...
    try :
        idx = name.index(val)
        print(f"{name[idx]}님의 나이는 {age[idx]}살이고, {area[idx]}에 거주하고있습니다")
    except :
        print("해당 이름이 존재하지 않습니다. 다시 입력해 주세요!")

이름을 입력해주세요.(종료는 '종료' 입력) 종료

while문을 종료합니다

### 리스트 내에 값이 존재하는지 여부 판단 : in 또는 not in

In [ ]:
### in 또는 not in
# - 리스트 내에 특정 값이 존재하는지에 대한 여부 판단하는 조건처리 명령
# - 반환값은 True 또는 False
# - 조건이기에 if문을 사용하고 in 또는 not in을 단독으로 사용합니다.
# - for문의 in과는 무관함

In [33]:
val = "김유신"
if val in name :
    print("정상처리")
else :
    print("해당이름없음")

정상처리

In [44]:
# 또 다른 예시
while True :
    #임의 이름 입력받기
    val = input("이름을 입력해주세요.(종료는 '종료' 입력)")

    #무한루프 종료
    if val == "종료" :
        print("while문을 종료합니다")
        break

    for idx in range (0,len(name),1) :
        if val in name[idx] :
            print(f"{name[idx]}님의 나이는 {age[idx]}살이고, {area[idx]}에 거주하고있습니다")
            chk_bool =True
            break
    else :
        print("해당 이름이 존재하지 않습니다. 다시 입력해 주세요!")

이름을 입력해주세요.(종료는 '종료' 입력) 이순신

이순신님의 나이는 55살이고, 서울에 거주하고있습니다

이름을 입력해주세요.(종료는 '종료' 입력) ㅂㅏㄱ성준

해당 이름이 존재하지 않습니다. 다시 입력해 주세요!

이름을 입력해주세요.(종료는 '종료' 입력) 종료

while문을 종료합니다

### 현재 반복 건너띄기 : contiune

In [48]:
### contiune : 현재 반복을 건너띄는명령
# - 반복된(while, for)에 사용 가능
# - 건너띈다는 의미 : contiune가 실행되는 순간 이후 문장은 실행되지 않고,
#                   : 다음 반복을 수행하게 됨


# 또 다른 예시
while True :
    #임의 이름 입력받기
    val = input("이름을 입력해주세요.(종료는 '종료' 입력)")

    #무한루프 종료
    if val == "종료" :
        print("while문을 종료합니다")
        break
        
    if val not in name :
        print("해당 이름이 존재하지 않습니다. 다시 입력해 주세요!")
        # 이후 실행하지 않고, 다음 반복 수행
        continue

    for idx in range (0,len(name),1) :
        if val in name[idx] :
            print(f"{name[idx]}님의 나이는 {age[idx]}살이고, {area[idx]}에 거주하고있습니다")
            chk_bool =True
            break
#else :
        #print("해당 이름이 존재하지 않습니다. 다시 입력해 주세요!")

이름을 입력해주세요.(종료는 '종료' 입력) 종

해당 이름이 존재하지 않습니다. 다시 입력해 주세요!

이름을 입력해주세요.(종료는 '종료' 입력) 이순신

이순신님의 나이는 55살이고, 서울에 거주하고있습니다

이름을 입력해주세요.(종료는 '종료' 입력) 종료

while문을 종료합니다

In [49]:
# 또 다른 예시
# 최종 정리
while True :
    #임의 이름 입력받기
    val = input("이름을 입력해주세요.(종료는 '종료' 입력)")

    #무한루프 종료
    if val == "종료" :
        print("while문을 종료합니다")
        break
        
    if val not in name :
        print("해당 이름이 존재하지 않습니다. 다시 입력해 주세요!")
        # 이후 실행하지 않고, 다음 반복 수행
        continue

    idx = name.index(val)
    print(f"{name[idx]}님의 나이는 {age[idx]}살이고, {area[idx]}에 거주하고있습니다")

이름을 입력해주세요.(종료는 '종료' 입력) 잇누

해당 이름이 존재하지 않습니다. 다시 입력해 주세요!

이름을 입력해주세요.(종료는 '종료' 입력) 이순신

이순신님의 나이는 55살이고, 서울에 거주하고있습니다

이름을 입력해주세요.(종료는 '종료' 입력) 김유신

김유신님의 나이는 33살이고, 대구에 거주하고있습니다

이름을 입력해주세요.(종료는 '종료' 입력) 홍길동

홍길동님의 나이는 14살이고, 부산에 거주하고있습니다

이름을 입력해주세요.(종료는 '종료' 입력) 조

해당 이름이 존재하지 않습니다. 다시 입력해 주세요!

이름을 입력해주세요.(종료는 '종료' 입력) 종료

while문을 종료합니다

### 리스트 내 특정 인덱스 위치값 수정하기

In [64]:

val = "홍길동"
#name[2] = "김유신"

idx = name.index(val)

name[idx] = "김유신"
age[idx] = 63
area[idx] = "경남"

name, age, area

(['김유신', '이순신'], [63, 55], ['경남', '서울'])

In [65]:
### 김유신과 관련된 정부 삭제.......
name = ["홍길동", "이순신", "김유신"]
age = [14, 55, 33]
area = ["부산", "서울", "대구"]

val = "김유신"
idx = name.index(val)

del name[idx]
del age[idx]
del area[idx]

name, age, area

(['홍길동', '이순신'], [14, 55], ['부산', '서울'])

In [68]:
'''
<회원관리 프로그램>
 - 사용할 기능 : 신규 추가, 수정, 삭제, 검색(이름으로), 검색(전체목록), 종료
 - 사용할 데이터 : 이름, 주소, 나이
 - 최초 메세지 값
   아래 번호 중에 하나를 선택해 주세요(번호로 이력하여 주세요):
       1. 리스트에 신규값 추가하기
       2. 수정하기
       3. 삭제하기
       4. 검색(이름으로 조회)
       5. 검색(전체 목록 조회)
       6. 종료
 - 조건, 
   * 이름은 중복을 허용하지 않습니다.
   * 무한 반복 하면서 계속 수행
   * 다양한 예외를 고민하셔서 발생할 수 있는 처리 조치

'''

'\n<회원관리 프로그램>\n - 사용할 기능 : 신규 추가, 수정, 삭제, 검색(이름으로), 검색(전체목록), 종료\n - 사용할 데이터 : 이름, 주소, 나이\n - 최초 메세지 값\n   아래 번호 중에 하나를 선택해 주세요(번호로 이력하여 주세요):\n       1. 리스트에 신규값 추가하기\n       2. 수정하기\n       3. 삭제하기\n       4. 검색(이름으로 조회)\n       5. 검색(전체 목록 조회)\n       6. 종료\n - 조건, \n   * 이름은 중복을 허용하지 않습니다.\n   * 무한 반복 하면서 계속 수행\n   * 다양한 예외를 고민하셔서 발생할 수 있는 처리 조치\n\n'

In [226]:
list_name = []
list_addr = []
list_age = []

In [228]:
# 리스트에 신규값 추가하기


a = input("이름을 입력해주세요")
b = input("주소을 입력해주세요")
c = input("나이을 입력해주세요")

list_name.append(a)
list_addr.append(b)
list_age.append(c)


print(list_name)
print(list_addr)
print(list_age)

이름을 입력해주세요 박성준
주소을 입력해주세요 부산
나이을 입력해주세요 25

['이순신', '박성준']
['서울', '부산']
['50', '25']

In [136]:
# 수정하기
change = ["이름","주소","나이"]


while 1 :
    change_infor = input("수정할 정보를 입력해주세요(이름, 주소, 나이)")
    if change_infor == "이름" :
        break 
    elif change_infor == "주소" :
        break 
    elif change_infor == "나이" : 
        break 

    if change_infor not in change :
        print("올바른 입력이 아닙니다. 다시 입력해주세요.")

if change_infor == "이름":
    change_name = input("수정하고싶은 이름을 입력해주세요.")
    for i in range(0,len(list_name),1):
        if change_name == list_name[i]:
            change_name1 =input("무엇으로 변경해드릴까요?")
            list_name[i] =change_name1
            print(f"{list_name[i]}로 변경되었습니다")
if change_infor == "주소":
    change_addr = input("수정하고싶은 주소을 입력해주세요.")
    for i in range(0,len(list_addr),1):
        if change_addr == list_addr[i]:
            change_addr1 =input("무엇으로 변경해드릴까요?")
            list_addr[i] =change_addr1
            print(f"{list_addr[i]}(으)로 변경되었습니다")
if change_infor == "나이":
    change_age = input("수정하고싶은 나이을 입력해주세요.")
    for i in range(0,len(list_age),1):
        if change_age == list_age[i]:
            change_age1 =input("무엇으로 변경해드릴까요?")
            list_age[i] =change_age1
            print(f"{list_age[i]}세로 변경되었습니다")

수정할 정보를 입력해주세요(이름, 주소, 나이) 나이
수정하고싶은 나이을 입력해주세요. 25
무엇으로 변경해드릴까요? 28

28로 변경되었습니다

In [205]:
print(list_name)
print(list_addr)
print(list_age)

['박성준', '이순신']
['부산', '서울']
['25', '50']

In [217]:
# 삭제하기

remover = input("삭제할 정보를 입력해주세요")
remove1 = list_name.index(remover)

agree = input(f"{list_name[remove1]}님의 정보 이름:{list_name[remove1]}, 주소:{list_addr[remove1]}, 나이:{list_age[remove1]}를 정말 삭제하시겠습니까? 맞으시면 '예' 아니면 '아니요'를 쳐주세요")
if agree == "예" :
    for i in range(0, len(list_name), 1):
        if remover == list_name[i]:
            
            del list_name[remove1]
            print("처리 완료")

삭제할 정보를 입력해주세요 이순신
이순신님의 정보 이름:이순신, 주소:서울, 나이:50를 정말 삭제하시겠습니까? 맞으시면 '예' 아니면 '아니요'를 쳐주세요 예

['박성준']

In [230]:
#검색하기(이름으로 조회)

sh_name = input("조회하실 이름을 입력해주세요")
for i in range(0, len(list_name), 1):
    if sh_name == list_name[i]:
        print(f"{list_name[i]}님의 정보 이름:{list_name[i]} 주소:{list_addr[i]} 나이:{list_age[i]}")

조회하실 이름을 입력해주세요 이순신

이순신님의 정보 이름:이순신 주소:서울 나이:50

In [231]:
#검색하기(전체목록 조회)

sh_main = input("조회하실 정보를 입력해주세요")
if sh_main =="이름" :
    print(f"이름 전체 목록 {list_name}")
if sh_main =="주소" :
    print(f"주소 전체 목록 {list_addr}")
if sh_main =="나이" :
    print(f"나이 전체 목록 {list_age}")

조회하실 정보를 입력해주세요 이름

이름 전체 목록 ['이순신', '박성준']

In [192]:
list_name

['박성준', '이순신']

In [182]:
list_name = ["박성준","이순신"]
list_addr = ["부산","서울"]
list_age = ["25","50"]


remove = input("삭제할 정보를 입력해주세요.")

for i in range(1, len(list_name)-1, 1):
    if remove == list_name[i]:
        remove1 = list_name.index(remove)
        del list_name[remove1]        
        print(list_name)

삭제할 정보를 입력해주세요. 이순신

In [183]:
list_name

['박성준', '이순신']

In [146]:
print(list_name)
print(list_addr)
print(list_age)

['박성준']
['부산']
['25']

In [ ]:
# 검색(이름으로 조회)
while True :
    #임의 이름 입력받기
    val = input("이름을 입력해주세요.(종료는 '종료' 입력)")

    #무한루프 종료
    if val == "종료" :
        print("while문을 종료합니다")
        break
        
    if val not in name :
        print("해당 이름이 존재하지 않습니다. 다시 입력해 주세요!")
        # 이후 실행하지 않고, 다음 반복 수행
        continue