In [5]:
a = '33'
b = 10
c = int(a) + b
print(c)

43

In [6]:
a = '33'
b = 10
c = int(a) + b
print(int(c))

43

In [3]:
a = '33'
b = 10
c = a + str(b)
print(c)

3310

In [7]:
a = '33'
b = 10
c = a + str(b)
print(str(c))

3310

In [8]:
c = a * 6
print(c)

333333333333

### 문자열 표현 방식(포멧 : format)

In [9]:
### 단순한 문자열 처리방식
name = "홍길동"
age = 30
addr = "부산 수영구 광안로"

### 위 변수들을 조합하여 아래 형태처럼 출력하기
# - 출력예시 : 이름은 홍길동, 나이는 30, 주소는 부산 수영구 광안로

In [20]:
print("이름은", name ,',' ,"나이는", age,',', "주소는", addr)

이름은 홍길동 , 나이는 30 , 주소는 부산 수영구 광안로

In [35]:
### 문자열 합치는 처리방식
name = "홍길동"
age = 30
addr = "부산 수영구 광안로"

### 위 변수들을 조합하여 아래 형태처럼 출력하기
# - 출력예시 : 이름은 홍길동, 나이는 30, 주소는 부산 수영구 광안로
str_message = "이름은 " + name + ", 나이는 " + str(age) + ", 주소는 " + addr
print(str_message)

이름은 홍길동, 나이는 30, 주소는 부산 수영구 광안로

In [41]:
### 문자열 합치는 처리방식 : format 함수(기능) 적용
# - format() : 문자열 함수라고 칭합니다.
# - 사용방법 : "문자열{}, 문자열 {}" .format(변수1, 변수2)
#            : "문자열{0}, 문자열{1}" .format(변수1, 변수2)
#            : f"문자열{변수1}, 문자열{변수2}"
name = "홍길동"
age = 30
addr = "부산 수영구 광안로"

### 위 변수들을 조합하여 아래 형태처럼 출력하기
# - 출력예시 : 이름은 홍길동, 나이는 30, 주소는 부산 수영구 광안로
str_message = "이름은 {}, 나이는 {}, 주소는 {}".format(name, age, addr)
print(str_message)

이름은 홍길동, 나이는 30, 주소는 부산 수영구 광안로

In [42]:
str_message = "이름은 {0}, 나이는 {0}, 주소는 {0}".format(name, age, addr)
print(str_message)

이름은 홍길동, 나이는 홍길동, 주소는 홍길동

In [45]:
str_message = f"이름은 {name}, 나이는 {age}, 주소는 {addr}"
print(str_message)

이름은 홍길동, 나이는 30, 주소는 부산 수영구 광안로