# 1. 샵 1개 제목

## 2. 샵 2개 제목

### 3. 샵 3개 제목

#### 4. 샵 4 제목

##### 5. 샵 5 제목

###### 6. 샵 6 제목

####### 7. 샵 7 제목 : 적용안됨 6개가 최대

In [9]:
###실행방법 
# - shfit + enter : 실행후 다음 셀 박스로 이동
#                :(또는 다음 셀박스가 없으면 새로운 셀박스를 만듬)
# - alt + enter : 실행 후 다음 셀박스를 무조건 만들어서 이동함
# - ctrl + enter : 현재 셀박스에서만 실행하고 커서 유지

# 셀박스 삭제는 : dd

In [10]:
# 주석 : 실행되지 않는 설명 문장...(한줄 주석은 #을 사용한다.)
#      : 따옴표 3개를 이용하는 경우에는 문장 단위 주석이라고 칭합니다.

In [11]:
'''
<문장 단위 주석입니다.>
- 실행은 되지만 처리는 되지 않습니다.
 alt+shift 방향키 아래키를 누르면 커서가 있는곳에서 복사가 됨
 alt+shift 방향키 아래키를 누르면 커서가 있는곳에서 복사가 됨
 alt+shift 방향키 아래키를 누르면 커서가 있는곳에서 복사가 됨
 alt+shift 방향키 아래키를 누르면 커서가 있는곳에서 복사가 됨
 alt+shift 방향키 아래키를 누르면 커서가 있는곳에서 복사가 됨
 alt+shift 방향키 아래키를 누르면 커서가 있는곳에서 복사가 됨
 alt+shift 방향키 아래키를 누르면 커서가 있는곳에서 복사가 됨
'''

'\n<문장 단위 주석입니다.>\n- 실행은 되지만 처리는 되지 않습니다.\n alt+shift 방향키 아래키를 누르면 커서가 있는곳에서 복사가 됨\n alt+shift 방향키 아래키를 누르면 커서가 있는곳에서 복사가 됨\n alt+shift 방향키 아래키를 누르면 커서가 있는곳에서 복사가 됨\n alt+shift 방향키 아래키를 누르면 커서가 있는곳에서 복사가 됨\n alt+shift 방향키 아래키를 누르면 커서가 있는곳에서 복사가 됨\n alt+shift 방향키 아래키를 누르면 커서가 있는곳에서 복사가 됨\n alt+shift 방향키 아래키를 누르면 커서가 있는곳에서 복사가 됨\n'

# 변수

In [15]:
###변수 : 
# - 메모리에 저장된 값을 의미합니다.

a = 5 
# a라는 이름이 바라보는 메모리 주소공간에 5라는 값을 저장 해 둡니다.

b = 6 
# b라는 이름이 바라보는 메모리 주소공간에 6라는 값을 저장 해 둡니다.

c = a + b
# a,b라는이름이 바라보는 메모리의 값을 가지고 와서 두개의 값을 더하기 처리 (산술연산)이후에
# 값을 c라는 이름이 바라보는 메모리 주소공간에 11이라는 갑슬 저장해 둡니다.

# c라는 이름이 바라보는 메모리 주소공간에 a + b라는 값을 저장 해 둡니다.

print(c)
# c라는 이름이 바라보는 메모리의 값을 가지고 와서 
# 화면에 출력하는 기능 (print)을 수행

# - 기능 : 함수 (finction, method)라고 칭합니다.
#        : 이름뒤에 소괄호가 있으면 기능(함수)라고 생각하시면 됩니다.
#        : 자주 사용되는 처리 프로그램을 미리 만들어서 편하게 사용하게 끔 제공함

11

In [16]:
print(a)

5

In [17]:
print(b)

6

In [18]:
print(c)

11

In [19]:
a = 7

In [20]:
print(c) 
# 여기서 a + b가 11이 나오는 이유는 이전에 이미 a + b의 메모리에 값을 저장을 해 두었기 떄문

11

In [21]:
c = a + b

In [22]:
print(c)

13

In [23]:
c

13

In [26]:
a
b
c

13

In [27]:
print(a)
print(b)
a,b,c

7
6

(7, 6, 13)

In [28]:
print(a,b,c)

7 6 13

In [29]:
### 변수의 종류:
# - 단일변수(일반변수) : 1개의 값만 메모리에저장 할 수 있는 경우
#                      : 정수(int), 실수(float), 문자열(str), 불리언(bool)
# - 여러값을 저장하는 변수 : 2개 이상의 값을 메모리에 저장해 놓을 수 있는 
#                          :리스트(list), 딕셔너리(dict), 듀플(tuple), 셋(set)

In [30]:
### <일반변수의 형태>
# 정수타입을 가지는 변수 : -1,0,1,2 ....숫자
a = 1
b = 2 
c = 3

# 실수 타입을 가지는 변수 : -1.1, 1.1, 0.1....
d = 1.1

# 문자(열) 타입을 가지는 변수 : 따옴표로 감싸진 것
e = '안녕하세요'

# 불리언(boolean)타입을 가지는 변수 : 참(True,1)과 거짓(False,0)을 가지는 값
# - 보통 조건 처리의 결과값으로 사용됨, 일반적으로 변수로 사용되는 경우는 많이 없음
f = True
g = False


y = a * b + c

In [31]:
### 변수 이름 규칙(정해진 규칙입니다. 모든 프로그램 언어 동일)
# - 숫자로 시작하지않기
# - 띄어쓰지않기
# - 라이브러리에서 사용되는 이름은 사용 못하는 경우가 많음


### 일반적인 이름 작명방법
# - 저장되는 값의 성격 또는 타입에 맞는 변수명을 사용 
# - 의미를 부여해야 하는 경우에는 언더라인(_)을 이용해서 단어적 의미 조합으로 가능 
# - 가장 앞에언더라인(_)을 사용 할 수 있음(특수하게 사용되는 변수인 경우)

In [32]:
1a = 2

SyntaxError: invalid decimal literal (812951866.py, line 1)

In [33]:
a a = 1

SyntaxError: invalid syntax (531499768.py, line 1)

In [34]:
print = 1

In [35]:
a = 10
a = 10.2
a = "aaaa"

In [40]:
_pi = 3.141592

#언더라인()이 붙는값을 정적값이라고한다
#변하는 값을 동적값
#절대 바뀌지않는 값을 상수값

In [41]:
name_age = "홍길동 22살"

# 일반(단일)변수 타입 변환

In [43]:
a = '11'
b = 3
### 문자열 타입을 정수타입으로 변환 : int() 기능(기능) 사용 
#   - 문자열 안에 숫자만 있는 경우에 가능합니다.
#      (한글, 영문, 특수문자가 있으면 오류 납니다.)
c = a + b
print(c)

TypeError: can only concatenate str (not "int") to str

In [50]:
a = "11"
b = 3 
d = '11.5'
c = int(a) + b
c = float(d) + b
# 문자열 합치기
c = a + str(b)
c

'113'

# 산술 연산자(+-*/ // %)

In [51]:
'''
<산술 연산자>
- 더하기 : +
        : 문자열과 문자열 합치기 가능
- 빼기 : -
- 곱하기 : *
        : 문자열 같은 값 여러개 만들 때도 사용
- 나누기 : /
- 나눈 결과의 몫 : //
- 나눈 결과의 나머지 : %
- 제곱승 : ^
'''

'\n<산술 연산자>\n- 더하기 : +\n- 빼기 : -\n- 곱하기 : *\n- 나누기 : /\n- 나눈 결과의 몫 : //\n- 나눈 결과의 나머지 : %\n- 제곱승 : ^\n'

In [53]:
aa = 10
bb = 4

result = aa / bb 
result

2.5

In [55]:
result = aa // bb
result

2

In [56]:
result = aa % bb
result

2

In [57]:
result = aa^3
result

9

In [58]:
a = '홍길동'
b = 3
c = a * 3
# a의 문자열을 3번 반복해서 합치기
c

'홍길동홍길동홍길동'