In [3]:
### list_1은 [1,2,3]의 메모리 주소를 대입해서 받아서 가지고 있음

list_1 = [1,2,3]
### list_2은 [1,2,3]의 메모리 주소를 대입해서 받아서 가지고 있음

list_2 = [4,5,6]

### list_temp는 [list_1의 주소, list_2의 주소]의 메모리 주소를 대입 받아서 가지고 있음
# - 이미 생성된 리스트 변수를 새로운 리스트에 담는 경우
#   --> 이미 생성된 리스트 변수의 메모리 주소값을 담아 놓고 있게되며,
#   --> 각 리스트 변수의 메모리 주소에 접근해서 사용하게 됨
list_temp = [list_1, list_2]

list_1[1] = 7

list_temp

[[1, 7, 3], [4, 5, 6]]

### 딕셔너리(dict)

In [ ]:
'''
<딕셔너리(dict)>
 - 여러개의 값을 가지고 다닐 수 있는 타입 중의 하나
 - 1개의 데이터(값)는 key의 value라는 값을 쌍으로 가지고 있음
 - 1개의 데이터(값)에서 실제 값은 value에 저장되며,
   -> value에 저장되어 있는 실제 값을 추출하기 위해서는 key로 접근하여 추출합니다.
 - 딕셔너리(dict)를 표현하는 기호는 중괄호({})를 사용함
 - 리스트는 인덱스 번호를 이용하여 값에 접근하고,
   딕셔너리는 key값을 이용해서 값(value)에 접근함
   따라서, 딕셔너리느 인덱스 번호에 의미를 두지 않음(순서 무관)
 - 딕셔너리에서 key값은 고유한 값만 사용해야함(중복 허용하지 않음

<딕셔너리가 사용하는 key와 value에 저장할 수 있는 타입>
 - key : 정수, 실수 , 문자열 (주로 정수 또는 문자열을 사용)
 - value : 모든 타입 사용가능(정수, 실수, 문자열, bool, 리스트, 딕셔너리, 튜플 등등.... )
'''

In [20]:
### 딕셔너리 생성하기

dict_1 = {"name":"홍길동", "age":"44","key":"value" }

dict_1

{'name': '홍길동', 'age': '44', 'key': 'value'}

In [21]:
### 값 추출하기 : 딕셔너리는 key로 접근해서 값을 추출합니다,
# - 딕셔너리에서 값을 추출하는 개념 : key를 줄테니, value를 달

dict_1["name"]

'홍길동'

In [22]:
### 값 수정하기 : 수정하고자 하는 key에 접근해서 값을 대입하면 됨
# - (중요) : 존재하지 않는 key를 이용해서 대입하게 되면 새로운 key:value가 생성됨

dict_1["name"] = "이순신"

### 기존에 key가 없으면 값(key:value)이 추가됨
# ***  key가 있으면 수정, 없으면 추가
dict_1["name2"] = "이순신2"
dict_1

{'name': '이순신', 'age': '44', 'key': 'value', 'name2': '이순신2'}

In [23]:
dict_2 = {1:"홍길동", 2:"이순신", 3:"김유신"}
dict_2[1]

'홍길동'

In [24]:
dict_3 = {0 : dict_1, 1 : dict_2}
dict_3

{0: {'name': '이순신', 'age': '44', 'key': 'value', 'name2': '이순신2'},
 1: {1: '홍길동', 2: '이순신', 3: '김유신'}}

In [26]:
dict_1["age"] = 100
dict_3

{0: {'name': '이순신', 'age': 100, 'key': 'value', 'name2': '이순신2'},
 1: {1: '홍길동', 2: '이순신', 3: '김유신'}}

In [27]:
### 일반적으로 사용되는 딕셔너리 형태 (1)
# - 행렬 데이터 생성시 도는 데이터 수집시 아래 형태로 제공을 많이 함

name_dict = {"name" : ["홍길동", "김유신", "이순신"]}
age_dict = {"age" : [40, 50, 60]}
area_dict = {"area" : ["서울", "부산", "대구"]}

list_dict = [name_dict, age_dict, area_dict]
list_dict

[{'name': ['홍길동', '김유신', '이순신']},
 {'age': [40, 50, 60]},
 {'area': ['서울', '부산', '대구']}]

In [28]:
### 일반적으로 사용되는 딕셔너리 형태 (2)
# - 행렬 데이터에서 조회 결과로 많이 출력함(Database에서 조회 결과는 아래와 같은 형태임)
row1_dict = {"name" : "홍길동", "age" : 40, "area" : "서울"}
row2_dict = {"name" : "김유신", "age" : 50, "area" : "부산"}
row3_dict = {"name" : "이순신", "age" : 60, "area" : "대구"}

rows_list = [row1_dict, row2_dict, row3_dict]
rows_list

[{'name': '홍길동', 'age': 40, 'area': '서울'},
 {'name': '김유신', 'age': 50, 'area': '부산'},
 {'name': '이순신', 'age': 60, 'area': '대구'}]

In [36]:
### 딕셔너리의 특정 key에 대한 value갑 조회하기
dict_1["name"], dict_1["age"], dict_1["key"]

('이순신', 100, 'value')

In [34]:
### 딕셔너리에 특정 key와 value값 추가하기
dict_1["tel"] = "010-1234-5555"

### tel key의 값 수정하기
dict_1["tel"] = "010-1234-6666"

### key가 있으면 수정, 없으면 추가
dict_1

{'name': '이순신',
 'age': 100,
 'key': 'value',
 'name2': '이순신2',
 'tel': '010-1234-6666'}

In [35]:
### 딕셔너리 내에 특정 key 삭제하기 : key로 접근
del dict_1["tel"]
dict_1

{'name': '이순신', 'age': 100, 'key': 'value', 'name2': '이순신2'}

In [39]:
try :
    del dict_1["tel"]
except :
    print("해당key가 없습니다.")
    
dict_1

해당key가 없습니다.

{'name': '이순신', 'age': 100, 'key': 'value', 'name2': '이순신2'}

In [50]:
### key값들만 추출하기 : keys() 함수 사용
# - 반환결과는 list 타입 입니다.
# - 반복(for)문의 반복 패턴에 사용해서, 딕셔너리 내에 data를 추출할 수 있음
dict_1.keys() ,type(dict_1.keys())

(dict_keys(['name', 'age', 'key', 'name2']), dict_keys)

In [52]:
### value값들만 추출하기 : value()함수 사용
# - 반환결과는 리스트(list) 타입
# - values()만 단독으로 사용하는 경우는 거의 없음
dict_1.values()

dict_values(['이순신', 100, 'value', '이순신2'])

In [54]:
### key만 알고 있으면 , value값 추출이 가능합니다.
# - for문을 이용해서, dict_1의 key와 value의 값을 쌍으로 각각 출력해 주세요.
dict_1

for i in dict_1.keys() :
    print(i,dict_1[i])
# - dict_1.keys는 dict_1안에 있는 key의 리스트를 불러옴
#   따라서 dict_1.keys안에 있는 key리스트 name을 i에 넣으면 
#   name이 나오고 dict_1[name]의 값이 나옴

name 이순신
age 100
key value
name2 이순신2